Repository wireapp/wire-server, pull requests merged in 2024-12, with the labels that each got.

#4349 WPB-689 Remove the restriction that SCIM allows at most one IdP
  changelog.d/1-api-changes/WPB-689-idps-and-scims
  changelog.d/2-features/WPB-689-idps-and-scims
  deploy/dockerephemeral/federation-v0/spar.yaml
  deploy/dockerephemeral/federation-v1/spar.yaml
  docs/src/understand/single-sign-on/understand/main.md
  hack/helm_vars/wire-federation-v0/values.yaml.gotmpl
  hack/helm_vars/wire-server/values.yaml.gotmpl
  integration/default.nix
  integration/integration.cabal
  integration/test/API/Spar.hs
  integration/test/SetupHelpers.hs
  integration/test/Test/Brig.hs
  integration/test/Test/Spar.hs
  integration/test/Test/Spar/STM.hs
  integration/test/Testlib/Assertions.hs
  integration/test/Testlib/JSON.hs
  libs/wire-api/default.nix
  libs/wire-api/src/Wire/API/User/Scim.hs
  libs/wire-api/test/golden/Test/Wire/API/Golden/Manual/CreateScimToken.hs
  libs/wire-api/test/golden/testObject_CreateScimToken_2.json
  libs/wire-api/wire-api.cabal
  services/brig/test/integration/API/UserPendingActivation.hs
  services/spar/spar.integration.yaml
  services/spar/src/Spar/API.hs
  services/spar/src/Spar/Scim/Auth.hs
  services/spar/test-integration/Test/Spar/Scim/AuthSpec.hs
  services/spar/test-integration/Util/Core.hs
  services/spar/test-integration/Util/Scim.hs
Labels: ok-to-test, echoes: product-roadmap, echoes: technical-roadmap/technical-debt

#4361 chore: Remove hie.yaml Makefile target
  Makefile
Labels: ok-to-test

#4362 WPB-14856 fix: Personal user to team owner not listed in team search
  changelog.d/3-bug-fixes/WPB-14856
  integration/test/API/Brig.hs
  integration/test/Test/Teams.hs
  services/brig/src/Brig/API/User.hs
Labels: ok-to-test, echoes/initiative: personal-users-to-team-users...

#4356 [WPB-11973] Freeze API version 7, create dev API version 8.
  changelog.d/3-bug-fixes/WPB-11973-bump-api-version
  docs/src/developer/developer/api-versioning.md
  integration/test/Test/Client.hs
  integration/test/Test/Swagger.hs
  integration/test/Testlib/Env.hs
  libs/wire-api/src/Wire/API/Routes/Public/Brig.hs
  libs/wire-api/src/Wire/API/Routes/Public/Brig/Bot.hs
  libs/wire-api/src/Wire/API/Routes/Public/Cannon.hs
  libs/wire-api/src/Wire/API/Routes/Version.hs
  libs/wire-api/src/Wire/API/User/Client.hs
  libs/wire-api/test/golden/Test/Wire/API/Golden/Generated.hs
  libs/wire-api/test/golden/Test/Wire/API/Golden/Manual/ClientCapabilityList.hs
  services/brig/docs/swagger-v7.json
  services/brig/src/Brig/API/Public.hs
  services/brig/src/Brig/Provider/API.hs
  services/brig/test/integration/API/User/Client.hs
  tools/stern/src/Stern/Intra.hs
Labels: ok-to-test, echoes/initiative: personal-users-to-team-users...

#4359 Add helm chart for wire-server-enterprise
  Makefile
  changelog.d/2-features/enterprise-helm-chart
  charts/README.md
  charts/wire-server-enterprise/Chart.yaml
  charts/wire-server-enterprise/templates/configmap.yaml
  charts/wire-server-enterprise/templates/deployment.yaml
  charts/wire-server-enterprise/templates/image-pull-secret.yaml
  charts/wire-server-enterprise/templates/service.yaml
  charts/wire-server-enterprise/templates/servicemonitor.yaml
  charts/wire-server-enterprise/values.yaml
Labels: ok-to-test, echoes/initiative: scale

#4369 MLS: Make missing MLS removal keys a template error
  changelog.d/5-internal/mls
  charts/galley/templates/secret.yaml
  docs/src/understand/mls.md
Labels: ok-to-test

#4368 [WPB-14912] Limit the consume events endpoint to v8
  integration/test/Test/Events.hs
  libs/wire-api/src/Wire/API/Routes/Public/Cannon.hs
Labels: ok-to-test, echoes/initiative: scale

#4366 ClientAPI: Include unnesting of capabilties in V7, ensure consumable notifs are not part of the enum
  changelog.d/3-bug-fixes/WPB-11973-bump-api-version
  integration/test/Test/Client.hs
  libs/wire-api/src/Wire/API/Routes/Public/Brig.hs
  libs/wire-api/src/Wire/API/Routes/Public/Brig/Bot.hs
  libs/wire-api/src/Wire/API/Routes/Version.hs
  libs/wire-api/src/Wire/API/Routes/Versioned.hs
  libs/wire-api/src/Wire/API/User/Client.hs
  libs/wire-api/test/golden/Test/Wire/API/Golden/Generated.hs
  libs/wire-api/test/golden/Test/Wire/API/Golden/Manual.hs
  libs/wire-api/test/golden/Test/Wire/API/Golden/Manual/ClientCapabilityList.hs
  libs/wire-api/test/golden/testObject_ClientCapabilityList_3_V7.json
  services/brig/docs/swagger-v7.json
  services/brig/src/Brig/API/Public.hs
  services/brig/src/Brig/Provider/API.hs
  services/brig/test/integration/API/User/Client.hs
Labels: ok-to-test

#4360 RabbitMQ temporary clients
  changelog.d/1-api-changes/rabbitmq-temp
  integration/test/Test/Events.hs
  libs/wire-api/src/Wire/API/Notification.hs
  libs/wire-api/src/Wire/API/Routes/Public/Cannon.hs
  services/cannon/cannon.cabal
  services/cannon/default.nix
  services/cannon/src/Cannon/API/Public.hs
  services/cannon/src/Cannon/RabbitMq.hs
  services/cannon/src/Cannon/RabbitMqConsumerApp.hs
  services/cannon/src/Cannon/WS.hs
  services/gundeck/src/Gundeck/Client.hs
  services/gundeck/src/Gundeck/Push.hs
Labels: ok-to-test, echoes/initiative: scale

#4364 WPB-14306 [enterprise login] Implement common prerequisites for multiple endpoints
  cassandra-schema.cql
  changelog.d/2-features/WPB-14306
  charts/brig/templates/configmap.yaml
  charts/brig/values.yaml
  docs/src/developer/reference/config-options.md
  integration/integration.cabal
  integration/test/API/BrigInternal.hs
  integration/test/API/Common.hs
  integration/test/Test/EnterpriseLogin.hs
  libs/wire-api/src/Wire/API/EnterpriseLogin.hs
  libs/wire-api/src/Wire/API/Routes/Internal/Brig.hs
  libs/wire-api/src/Wire/API/Routes/Internal/Brig/EnterpriseLogin.hs
  libs/wire-api/test/golden/Test/Wire/API/Golden/Manual.hs
  libs/wire-api/test/golden/Test/Wire/API/Golden/Manual/EnterpriseLogin.hs
  libs/wire-api/test/golden/testObject_DomainRegistrationUpdate_1.json
  libs/wire-api/test/golden/testObject_DomainRegistrationUpdate_2.json
  libs/wire-api/test/golden/testObject_DomainRegistrationUpdate_3.json
  libs/wire-api/test/golden/testObject_DomainRegistrationUpdate_4.json
  libs/wire-api/test/golden/testObject_DomainRegistrationUpdate_5.json
  libs/wire-api/test/golden/testObject_DomainRegistrationUpdate_6.json
  libs/wire-api/test/golden/testObject_DomainRegistration_1.json
  libs/wire-api/test/golden/testObject_DomainRegistration_2.json
  libs/wire-api/test/golden/testObject_DomainRegistration_3.json
  libs/wire-api/test/golden/testObject_DomainRegistration_4.json
  libs/wire-api/test/golden/testObject_DomainRegistration_5.json
  libs/wire-api/test/golden/testObject_DomainRegistration_6.json
  libs/wire-api/wire-api.cabal
  libs/wire-subsystems/default.nix
  libs/wire-subsystems/src/Wire/DomainRegistrationStore.hs
  libs/wire-subsystems/src/Wire/DomainRegistrationStore/Cassandra.hs
  libs/wire-subsystems/src/Wire/EnterpriseLoginSubsystem.hs
  libs/wire-subsystems/src/Wire/EnterpriseLoginSubsystem/Error.hs
  libs/wire-subsystems/src/Wire/EnterpriseLoginSubsystem/Interpreter.hs
  libs/wire-subsystems/wire-subsystems.cabal
  services/brig/brig.cabal
  services/brig/src/Brig/API/Internal.hs
  services/brig/src/Brig/CanonicalInterpreter.hs
  services/brig/src/Brig/Options.hs
  services/brig/src/Brig/Schema/Run.hs
  services/brig/src/Brig/Schema/V88_DomainRegistrationTable.hs
  tools/stern/default.nix
  tools/stern/src/Stern/API.hs
  tools/stern/src/Stern/API/Routes.hs
  tools/stern/src/Stern/App.hs
  tools/stern/src/Stern/Intra.hs
  tools/stern/stern.cabal
  tools/stern/test/integration/API.hs
Labels: ok-to-test, echoes/initiative: scale

#4365 bump nixpkgs
  changelog.d/3-bug-fixes/WPB-14537
  libs/wai-utilities/src/Network/Wai/Utilities/Response.hs
  libs/wire-api/src/Wire/API/Routes/Internal/Brig.hs
  libs/wire-api/src/Wire/API/Routes/QualifiedCapture.hs
  nix/manual-overrides.nix
  nix/overlay.nix
  nix/sources.json
  services/brig/src/Brig/API/Public.hs
  services/brig/test/integration/Util.hs
  services/galley/test/integration/TestSetup.hs
Labels: ok-to-test

#4378 Add profile name to new team owner welcome mail
  changelog.d/3-bug-fixes/WPB-15085
  libs/wire-subsystems/src/Wire/EmailSubsystem/Template.hs
  services/brig/src/Brig/API/User.hs
  services/brig/src/Brig/Team/Email.hs
  services/brig/src/Brig/Team/Template.hs
Labels: ok-to-test, echoes/initiative: personal-users-to-team-users...

#4380 WPB-15072 team activated is not sent to ibis when a personal user creates a new team
  changelog.d/3-bug-fixes/WPB-15072
  integration/test/API/GalleyInternal.hs
  integration/test/Test/Teams.hs
  services/brig/src/Brig/API/User.hs
Labels: ok-to-test, echoes/initiative: personal-users-to-team-users...

#4372 integration/testConsumeTempEvents: Remove race causing flaky test
  integration/test/Test/Events.hs
Labels: ok-to-test, echoes/initiative: scale

#4383 integration: Print name of the test in logs from dynamic backends
  integration/test/Testlib/Env.hs
  integration/test/Testlib/ModService.hs
  integration/test/Testlib/Run.hs
  integration/test/Testlib/RunServices.hs
  integration/test/Testlib/Types.hs
Labels: ok-to-test

#4379 gundeck/cannon: Fixup for temporary recipients of events
  integration/default.nix
  integration/integration.cabal
  integration/test/SetupHelpers.hs
  integration/test/Test/Events.hs
  integration/test/Testlib/Assertions.hs
  integration/test/Testlib/ModService.hs
  libs/wire-api/src/Wire/API/Notification.hs
  services/cannon/cannon.cabal
  services/cannon/default.nix
  services/cannon/src/Cannon/RabbitMq.hs
  services/cannon/src/Cannon/RabbitMqConsumerApp.hs
  services/cannon/src/Cannon/Types.hs
  services/cannon/src/Cannon/WS.hs
  services/gundeck/src/Gundeck/Client.hs
  services/gundeck/src/Gundeck/Push.hs
Labels: ok-to-test, echoes/initiative: scale

#4382 [WPB-15037] fix flaky test migration to new index
  changelog.d/5-internal/stabilize-es-migration-test
  services/brig/src/Brig/API/Internal.hs
  services/brig/src/Brig/User/Search/Index.hs
  services/brig/test/integration/API/Search.hs
  services/brig/test/integration/API/Search/Util.hs
Labels: ok-to-test, echoes: technical-roadmap/security

#4385 WPB-15156 Ensure federator port is free
  integration/test/Testlib/ModService.hs
  nix/wire-server.nix
Labels: ok-to-test

#4386 [WPB-15151] eliminate legahold test redundancy
  changelog.d/5-internal/wpb-15151-revive-and-translate-tests
  integration/test/API/Galley.hs
  integration/test/API/GalleyInternal.hs
  integration/test/Test/LegalHold.hs
  integration/test/Testlib/ModService.hs
  services/galley/test/integration/API/Teams/LegalHold/DisabledByDefault.hs
Labels: ok-to-test

#4373 switch default ciphersuite to 2
  changelog.d/0-release-notes/WPB-15004
  charts/galley/values.yaml
  docs/src/developer/reference/config-options.md
  integration/test/API/Brig.hs
  integration/test/MLS/Util.hs
  integration/test/Test/FeatureFlags/Util.hs
  integration/test/Test/MLS/KeyPackage.hs
  integration/test/Test/MLS/One2One.hs
  integration/test/Testlib/Types.hs
  libs/wire-api/src/Wire/API/MLS/CipherSuite.hs
  libs/wire-api/src/Wire/API/Routes/Public/Brig.hs
  libs/wire-api/src/Wire/API/Team/Feature.hs
  services/brig/src/Brig/API/MLS/CipherSuite.hs
  services/brig/src/Brig/API/MLS/KeyPackages.hs
  services/brig/src/Brig/API/Public.hs
  services/brig/test/integration/API/MLS/Util.hs
  services/brig/test/integration/Federation/End2end.hs
  services/galley/test/integration/API/MLS/Util.hs
Labels: ok-to-test, echoes/initiative: federation-wire-cloud

#4388 integration: Use lsof instead of ss to find processes listening on a port
  integration/test/Testlib/ModService.hs
  nix/wire-server.nix
Labels: ok-to-test
