Repository wireapp/wire-server, pull requests merged in 2024-07, with the labels that each got.

#4117 WPB-6954 Set SFT username's shared field according to team setting
  changelog.d/2-features/WPB-6954
  charts/integration/templates/configmap.yaml
  integration/test/Testlib/ResourcePool.hs
  libs/extended/src/Network/AMQP/Extended.hs
  libs/wire-api/src/Wire/API/Call/Config.hs
  libs/wire-api/test/golden/Test/Wire/API/Golden/Generated/RTCConfiguration_user.hs
  libs/wire-api/test/golden/Test/Wire/API/Golden/Generated/SFTServer_user.hs
  libs/wire-api/test/golden/testObject_RTCConfiguration_user_7.json
  services/brig/src/Brig/Calling/API.hs
  services/brig/test/unit/Test/Brig/Calling.hs
  services/integration.yaml
Labels: ok-to-test, echoes: features, echoes: security

#4118 Fix repeated with-rtsopts option
  changelog.d/3-bug-fixes/repeated-rtsopts
  services/background-worker/background-worker.cabal
  services/brig/brig.cabal
  services/cannon/cannon.cabal
  services/federator/federator.cabal
  services/spar/spar.cabal
  tools/db/auto-whitelist/auto-whitelist.cabal
  tools/db/find-undead/find-undead.cabal
  tools/db/inconsistencies/inconsistencies.cabal
  tools/db/migrate-sso-feature-flag/migrate-sso-feature-flag.cabal
  tools/db/move-team/move-team.cabal
  tools/db/repair-brig-clients-table/repair-brig-clients-table.cabal
  tools/db/service-backfill/service-backfill.cabal
  tools/fedcalls/fedcalls.cabal
Labels: ok-to-test

#4110 reject MLS messages for future epochs
  changelog.d/2-features/WPB-9871
  integration/test/Test/MLS.hs
  services/galley/src/Galley/API/MLS/Message.hs
Labels: ok-to-test

#4119 [chore] replace cabal.project.local template and update cabal.project
  Makefile
  cabal.project
  changelog.d/5-internal/cabal-project-local-improvements
  hack/bin/cabal-project-local-template.sh
  hack/bin/cabal.project.local.template
Labels: ok-to-test

#4120 Fix scim logic: delete dangling external_ids if they happen.
  changelog.d/3-bug-fixes/WPB-9708-scim-gc-logic
  libs/hscim/src/Web/Scim/Server/Mock.hs
  libs/hscim/src/Web/Scim/Test/Acceptance.hs
  libs/hscim/test/Test/Class/UserSpec.hs
  services/spar/src/Spar/Scim/User.hs
  services/spar/test-integration/Test/Spar/Scim/UserSpec.hs
  services/spar/test/Test/Spar/Scim/UserSpec.hs
Labels: ok-to-test, echoes: bugs

#4121 Introduce VerificationCodeSubsystem
  changelog.d/5-internal/verification-code-subsystem
  libs/polysemy-wire-zoo/src/Wire/Sem/Random.hs
  libs/polysemy-wire-zoo/src/Wire/Sem/Random/IO.hs
  libs/types-common/src/Data/Code.hs
  libs/types-common/src/Data/RetryAfter.hs
  libs/wire-subsystems/default.nix
  libs/wire-subsystems/src/Wire/AuthenticationSubsystem/Error.hs
  libs/wire-subsystems/src/Wire/Error.hs
  libs/wire-subsystems/src/Wire/UserSubsystem.hs
  libs/wire-subsystems/src/Wire/UserSubsystem/Error.hs
  libs/wire-subsystems/src/Wire/UserSubsystem/Interpreter.hs
  libs/wire-subsystems/src/Wire/VerificationCode.hs
  libs/wire-subsystems/src/Wire/VerificationCodeGen.hs
  libs/wire-subsystems/src/Wire/VerificationCodeStore.hs
  libs/wire-subsystems/src/Wire/VerificationCodeStore/Cassandra.hs
  libs/wire-subsystems/src/Wire/VerificationCodeSubsystem.hs
  libs/wire-subsystems/src/Wire/VerificationCodeSubsystem/Interpreter.hs
  libs/wire-subsystems/test/unit/Wire/AuthenticationSubsystem/InterpreterSpec.hs
  libs/wire-subsystems/test/unit/Wire/MiniBackend.hs
  libs/wire-subsystems/test/unit/Wire/MockInterpreters.hs
  libs/wire-subsystems/test/unit/Wire/MockInterpreters/Now.hs
  libs/wire-subsystems/test/unit/Wire/MockInterpreters/Random.hs
  libs/wire-subsystems/test/unit/Wire/MockInterpreters/VerificationCodeStore.hs
  libs/wire-subsystems/test/unit/Wire/UserSubsystem/InterpreterSpec.hs
  libs/wire-subsystems/test/unit/Wire/VerificationCodeSubsystem/InterpreterSpec.hs
  libs/wire-subsystems/wire-subsystems.cabal
  services/brig/brig.cabal
  services/brig/src/Brig/API/Auth.hs
  services/brig/src/Brig/API/Client.hs
  services/brig/src/Brig/API/Error.hs
  services/brig/src/Brig/API/Federation.hs
  services/brig/src/Brig/API/Handler.hs
  services/brig/src/Brig/API/Internal.hs
  services/brig/src/Brig/API/Public.hs
  services/brig/src/Brig/API/User.hs
  services/brig/src/Brig/API/Util.hs
  services/brig/src/Brig/Calling/API.hs
  services/brig/src/Brig/CanonicalInterpreter.hs
  services/brig/src/Brig/Code.hs
  services/brig/src/Brig/Provider/API.hs
  services/brig/src/Brig/Team/API.hs
  services/brig/src/Brig/Team/Util.hs
  services/brig/src/Brig/User/Auth.hs
  services/brig/test/integration/API/Provider.hs
  services/brig/test/integration/API/User/Client.hs
  services/brig/test/integration/API/User/Util.hs
  services/brig/test/integration/Util.hs
Labels: ok-to-test, echoes: technical-debt, echoes: throughput

#4128 [fix] charts/gundeck: reference correct value for tlsCa (#4127)
  charts/gundeck/templates/redis-ca-secret.yaml
Labels: ok-to-test

#4134 Fix names of metrics so they do not contain any dots
  changelog.d/3-bug-fixes/metric-names
  libs/metrics-core/src/Data/Metrics/AWS.hs
  libs/wai-utilities/src/Network/Wai/Utilities/Server.hs
  services/brig/src/Brig/API/User.hs
  services/brig/src/Brig/Data/Client.hs
  services/brig/src/Brig/User/Auth/Cookie.hs
  services/brig/src/Brig/User/Search/Index.hs
  services/cannon/src/Cannon/Run.hs
  services/cargohold/src/CargoHold/Metrics.hs
  services/galley/src/Galley/Run.hs
  services/gundeck/src/Gundeck/Push/Native.hs
  services/gundeck/src/Gundeck/Push/Websocket.hs
  services/gundeck/src/Gundeck/ThreadBudget/Internal.hs
Labels: ok-to-test

#4132 Add spar integration test about empty scim search results.
  services/spar/test-integration/Test/Spar/Scim/UserSpec.hs
Labels: ok-to-test

#4141 add textStatus to user record
  libs/wire-api/src/Wire/API/User.hs
  libs/wire-api/src/Wire/API/User/Profile.hs
  libs/wire-api/test/golden/Test/Wire/API/Golden/Generated/SelfProfile_user.hs
  libs/wire-api/test/golden/Test/Wire/API/Golden/Generated/UserUpdate_user.hs
  libs/wire-api/test/golden/Test/Wire/API/Golden/Generated/User_user.hs
  libs/wire-api/test/golden/Test/Wire/API/Golden/Manual/UserEvent.hs
  libs/wire-subsystems/src/Wire/StoredUser.hs
  libs/wire-subsystems/src/Wire/UserStore.hs
  libs/wire-subsystems/src/Wire/UserStore/Cassandra.hs
  libs/wire-subsystems/src/Wire/UserSubsystem.hs
  libs/wire-subsystems/src/Wire/UserSubsystem/Interpreter.hs
  services/brig/brig.cabal
  services/brig/src/Brig/API/Public.hs
  services/brig/src/Brig/Data/User.hs
  services/brig/src/Brig/Provider/API.hs
  services/brig/src/Brig/Schema/Run.hs
  services/brig/src/Brig/Schema/V82_AddTextStatus.hs
  services/brig/test/integration/API/Team.hs
  services/brig/test/integration/API/User/Account.hs
  services/spar/test-integration/Test/Spar/Scim/UserSpec.hs
Labels: ok-to-test

#4144 Added EventType mapping.
  libs/wire-api/src/Wire/API/Event/Conversation.hs
  services/cannon/src/Cannon/App.hs
  services/gundeck/default.nix
Labels: ok-to-test

#4133 allow subconversations for MLS 1-1 conversation
  changelog.d/2-features/WPB-9773
  integration/test/Test/MLS/SubConversation.hs
  services/galley/src/Galley/API/MLS/SubConversation.hs
Labels: ok-to-test, echoes: features

#4140 Concurrently fetch user profiles from the DB
  changelog.d/5-internal/optimize-list-users
  libs/wire-subsystems/src/Wire/UserSubsystem/Interpreter.hs
Labels: ok-to-test

#4130 WPB-10058 delete phone column in brig's user table
  cassandra-schema.cql
  changelog.d/0-release-notes/WPB-10058
  changelog.d/0-release-notes/WPB-10058-5xx
  changelog.d/2-features/WPB-10058
  libs/wire-subsystems/src/Wire/StoredUser.hs
  libs/wire-subsystems/src/Wire/UserStore/Cassandra.hs
  nix/wire-server.nix
  services/brig/brig.cabal
  services/brig/src/Brig/Schema/Run.hs
  services/brig/src/Brig/Schema/V82_DropPhoneColumn.hs
  tools/db/inconsistencies/src/DanglingUserKeys.hs
  tools/db/move-team/src/Schema.hs
  tools/db/move-team/src/Types.hs
Labels: ok-to-test, echoes/initiative: wpb-4387-remove-phone-number...

#4150 allow subconversations for MLS 1-1 conversation
  changelog.d/2-features/WPB-9773
  integration/test/Test/MLS/SubConversation.hs
  services/galley/src/Galley/API/MLS/SubConversation.hs
Labels: ok-to-test, echoes: features

#4151 move ciphersuite updates into the commit lock
  changelog.d/3-bug-fixes/ciphersuite-update
  integration/test/Test/MLS/One2One.hs
  services/galley/src/Galley/API/MLS/Commit/ExternalCommit.hs
  services/galley/src/Galley/API/MLS/Commit/InternalCommit.hs
  services/galley/src/Galley/API/MLS/Message.hs
Labels: ok-to-test, echoes: features

#4154 move ciphersuite updates into the commit lock
  changelog.d/3-bug-fixes/ciphersuite-update
  integration/test/Test/MLS/One2One.hs
  services/galley/src/Galley/API/MLS/Commit/ExternalCommit.hs
  services/galley/src/Galley/API/MLS/Commit/InternalCommit.hs
  services/galley/src/Galley/API/MLS/Message.hs
Labels: ok-to-test, echoes: features

#4157 WPB-10207 Match cipher suite tag in query parameters against key packages on replacing key packages
  changelog.d/3-bug-fixes/WPB-10207
  integration/test/API/Brig.hs
  integration/test/Test/MLS/KeyPackage.hs
  services/brig/src/Brig/API/MLS/CipherSuite.hs
  services/brig/src/Brig/API/MLS/KeyPackages.hs
  services/brig/src/Brig/Data/MLS/KeyPackage.hs
Labels: ok-to-test

#4155 WPB-10204 Add text status field to user (profile) data
  changelog.d/2-features/WPB-10204
  libs/wire-api/src/Wire/API/User.hs
  libs/wire-api/src/Wire/API/User/Profile.hs
  libs/wire-api/src/Wire/API/UserEvent.hs
  libs/wire-api/test/golden/Test/Wire/API/Golden/Generated/SelfProfile_user.hs
  libs/wire-api/test/golden/Test/Wire/API/Golden/Generated/UserProfile_user.hs
  libs/wire-api/test/golden/Test/Wire/API/Golden/Generated/UserUpdate_user.hs
  libs/wire-api/test/golden/Test/Wire/API/Golden/Generated/User_user.hs
  libs/wire-api/test/golden/Test/Wire/API/Golden/Manual/ListUsersById.hs
  libs/wire-api/test/golden/Test/Wire/API/Golden/Manual/UserEvent.hs
  libs/wire-api/test/golden/testObject_ListUsersById_user_2.json
  libs/wire-api/test/golden/testObject_SelfProfile_user_1.json
  libs/wire-api/test/golden/testObject_UserEvent_1.json
  libs/wire-api/test/golden/testObject_UserEvent_2.json
  libs/wire-api/test/golden/testObject_UserEvent_6.json
  libs/wire-api/test/golden/testObject_UserProfile_user_1.json
  libs/wire-api/test/golden/testObject_UserUpdate_user_2.json
  libs/wire-api/test/golden/testObject_User_user_2.json
  libs/wire-api/test/unit/Test/Wire/API/User.hs
  libs/wire-subsystems/src/Wire/StoredUser.hs
  libs/wire-subsystems/src/Wire/UserStore.hs
  libs/wire-subsystems/src/Wire/UserStore/Cassandra.hs
  libs/wire-subsystems/src/Wire/UserSubsystem.hs
  libs/wire-subsystems/src/Wire/UserSubsystem/Interpreter.hs
  libs/wire-subsystems/test/unit/Wire/UserSubsystem/InterpreterSpec.hs
  services/brig/brig.cabal
  services/brig/default.nix
  services/brig/src/Brig/API/Public.hs
  services/brig/src/Brig/Data/User.hs
  services/brig/src/Brig/Provider/API.hs
  services/brig/src/Brig/Schema/Run.hs
  services/brig/src/Brig/Schema/V83_AddTextStatus.hs
  services/brig/test/integration/API/Team.hs
  services/brig/test/integration/API/User/Account.hs
  services/brig/test/integration/Util.hs
  services/galley/test/integration/API/Util.hs
  services/spar/test-integration/Test/Spar/Scim/UserSpec.hs
Labels: ok-to-test, echoes: features

#4156 Use user ID hashes as SFT usernames
  changelog.d/2-features/sft-username
  services/brig/brig.cabal
  services/brig/default.nix
  services/brig/src/Brig/Calling.hs
  services/brig/src/Brig/Calling/API.hs
  services/brig/src/Brig/Calling/Internal.hs
  services/brig/test/unit/Test/Brig/Calling.hs
  services/brig/test/unit/Test/Brig/Calling/Internal.hs
Labels: ok-to-test, echoes: features

#4158 WPB-10207 Match cipher suite tag in query parameters against key packages on replacing key packages
  changelog.d/3-bug-fixes/WPB-10207
  integration/test/API/Brig.hs
  integration/test/Test/MLS/KeyPackage.hs
  services/brig/src/Brig/API/MLS/CipherSuite.hs
  services/brig/src/Brig/API/MLS/KeyPackages.hs
  services/brig/src/Brig/Data/MLS/KeyPackage.hs
Labels: ok-to-test, echoes: bugs

#4159 WPB-10207 follow up: clean up test code
  integration/test/API/Brig.hs
  integration/test/Test/MLS/KeyPackage.hs
Labels: ok-to-test, echoes: bugs

#4162 Set test certificate lifetime to 10 years
  deploy/dockerephemeral/docker/elasticsearch-ca.pem
  deploy/dockerephemeral/docker/elasticsearch-cert.pem
  deploy/dockerephemeral/docker/elasticsearch-key.pem
  deploy/dockerephemeral/docker/redis-ca.pem
  deploy/dockerephemeral/docker/redis-node-1-cert.pem
  deploy/dockerephemeral/docker/redis-node-1-key.pem
  deploy/dockerephemeral/docker/redis-node-2-cert.pem
  deploy/dockerephemeral/docker/redis-node-2-key.pem
  deploy/dockerephemeral/docker/redis-node-3-cert.pem
  deploy/dockerephemeral/docker/redis-node-3-key.pem
  deploy/dockerephemeral/docker/redis-node-4-cert.pem
  deploy/dockerephemeral/docker/redis-node-4-key.pem
  deploy/dockerephemeral/docker/redis-node-5-cert.pem
  deploy/dockerephemeral/docker/redis-node-5-key.pem
  deploy/dockerephemeral/docker/redis-node-6-cert.pem
  deploy/dockerephemeral/docker/redis-node-6-key.pem
  deploy/dockerephemeral/federation-v0/integration-ca.pem
  deploy/dockerephemeral/federation-v0/integration-leaf-key.pem
  deploy/dockerephemeral/federation-v0/integration-leaf.pem
  deploy/dockerephemeral/rabbitmq-config/certificates/ca-key.pem
  deploy/dockerephemeral/rabbitmq-config/certificates/ca.pem
  deploy/dockerephemeral/rabbitmq-config/certificates/cert.pem
  deploy/dockerephemeral/rabbitmq-config/certificates/key.pem
  hack/bin/gen-certs.sh
  hack/helm_vars/certs/elasticsearch-ca-key.pem
  hack/helm_vars/certs/elasticsearch-ca.pem
  services/nginz/integration-test/conf/nginz/integration-ca-key.pem
  services/nginz/integration-test/conf/nginz/integration-ca.pem
  services/nginz/integration-test/conf/nginz/integration-leaf-key.pem
  services/nginz/integration-test/conf/nginz/integration-leaf.pem
Labels: ok-to-test

#4153 Stop leaking ES error info.
  changelog.d/3-bug-fixes/WPB-6865
  libs/wai-utilities/src/Network/Wai/Utilities/Server.hs
  services/brig/test/integration/API/TeamUserSearch.hs
Labels: ok-to-test, echoes: security

#4160 Test leaving one2one subconversations
  integration/test/MLS/Util.hs
  integration/test/Test/MLS/SubConversation.hs
  integration/test/Testlib/Env.hs
  integration/test/Testlib/Run.hs
  integration/test/Testlib/RunServices.hs
  integration/test/Testlib/Types.hs
Labels: ok-to-test, echoes: bugs

#4166 WPB-9733 backport flakiness fixes
  changelog.d/5-internal/wpb6985-better-integration-test-logs
  integration/default.nix
  integration/integration.cabal
  integration/test/Test/Cargohold/API.hs
  integration/test/Test/Demo.hs
  integration/test/Testlib/ModService.hs
  integration/test/Testlib/ModService/ServiceInstance.hs
  integration/test/Testlib/Run.hs
Labels: ok-to-test, echoes: throughput/ci-maintenance

#4148 Introduce PropertySubsystem
  changelog.d/3-bug-fixes/ascii-text-parsing
  changelog.d/3-bug-fixes/max-properties
  changelog.d/5-internal/property-subsystem
  integration/integration.cabal
  integration/test/API/Brig.hs
  integration/test/API/Common.hs
  integration/test/Test/Property.hs
  libs/types-common/src/Data/Text/Ascii.hs
  libs/wire-api/src/Wire/API/Error/Brig.hs
  libs/wire-api/src/Wire/API/Properties.hs
  libs/wire-subsystems/default.nix
  libs/wire-subsystems/src/Wire/Events.hs
  libs/wire-subsystems/src/Wire/PropertyStore.hs
  libs/wire-subsystems/src/Wire/PropertyStore/Cassandra.hs
  libs/wire-subsystems/src/Wire/PropertySubsystem.hs
  libs/wire-subsystems/src/Wire/PropertySubsystem/Interpreter.hs
  libs/wire-subsystems/src/Wire/UserEvents.hs
  libs/wire-subsystems/src/Wire/UserSubsystem/Interpreter.hs
  libs/wire-subsystems/test/unit/Wire/MiniBackend.hs
  libs/wire-subsystems/test/unit/Wire/MockInterpreters.hs
  libs/wire-subsystems/test/unit/Wire/MockInterpreters/Events.hs
  libs/wire-subsystems/test/unit/Wire/MockInterpreters/PropertyStore.hs
  libs/wire-subsystems/test/unit/Wire/MockInterpreters/UserEvents.hs
  libs/wire-subsystems/test/unit/Wire/PropertySubsystem/InterpreterSpec.hs
  libs/wire-subsystems/test/unit/Wire/UserSubsystem/InterpreterSpec.hs
  libs/wire-subsystems/wire-subsystems.cabal
  services/brig/brig.cabal
  services/brig/src/Brig/API/Error.hs
  services/brig/src/Brig/API/Internal.hs
  services/brig/src/Brig/API/Properties.hs
  services/brig/src/Brig/API/Public.hs
  services/brig/src/Brig/API/Types.hs
  services/brig/src/Brig/API/User.hs
  services/brig/src/Brig/CanonicalInterpreter.hs
  services/brig/src/Brig/Data/Properties.hs
  services/brig/src/Brig/IO/Intra.hs
  services/brig/src/Brig/InternalEvent/Process.hs
  services/brig/test/integration/API/User.hs
  services/brig/test/integration/API/User/Property.hs
Labels: ok-to-test, echoes: throughput

#4169 [WPB-10204] Add a forgotten schema change for #4155
  cassandra-schema.cql
Labels: ok-to-test, echoes/initiative: hackaton-summer-2024

#4168 WPB-9733 backport flakiness fixes
  .hlint.yaml
  changelog.d/3-bug-fixes/WPB-5845
  changelog.d/5-internal/WPB-5687
  changelog.d/5-internal/WPB-6254-translate-LH-tests-part-1
  deploy/dockerephemeral/run.sh
  integration/integration.cabal
  integration/test/API/Brig.hs
  integration/test/API/BrigCommon.hs
  integration/test/API/BrigInternal.hs
  integration/test/API/Galley.hs
  integration/test/API/GalleyInternal.hs
  integration/test/MLS/Util.hs
  integration/test/Notifications.hs
  integration/test/SetupHelpers.hs
  integration/test/Test/Conversation.hs
  integration/test/Test/Demo.hs
  integration/test/Test/LegalHold.hs
  integration/test/Test/MLS.hs
  integration/test/Test/MLS/One2One.hs
  integration/test/Test/MLS/SubConversation.hs
  integration/test/Test/Search.hs
  integration/test/Test/User.hs
  integration/test/Test/Version.hs
  integration/test/Testlib/App.hs
  integration/test/Testlib/Assertions.hs
  integration/test/Testlib/Env.hs
  integration/test/Testlib/HTTP.hs
  integration/test/Testlib/JSON.hs
  integration/test/Testlib/MockIntegrationService.hs
  integration/test/Testlib/ModService.hs
  integration/test/Testlib/PTest.hs
  integration/test/Testlib/Types.hs
  libs/brig-types/src/Brig/Types/User/Event.hs
  services/brig/test/integration/API/User/Client.hs
  services/galley/src/Galley/API/LegalHold/Conflicts.hs
  services/galley/src/Galley/API/Util.hs
  services/galley/test/integration/API/Teams/LegalHold.hs
Labels: ok-to-test, echoes: throughput/ci-maintenance

#4167 [WPB-8892] Add block list operations to the user subsystem
  changelog.d/5-internal/WPB-8892
  libs/wire-subsystems/src/Wire/BlockListStore.hs
  libs/wire-subsystems/src/Wire/BlockListStore/Cassandra.hs
  libs/wire-subsystems/src/Wire/UserSubsystem.hs
  libs/wire-subsystems/src/Wire/UserSubsystem/Interpreter.hs
  libs/wire-subsystems/test/unit/Wire/MiniBackend.hs
  libs/wire-subsystems/test/unit/Wire/MockInterpreters.hs
  libs/wire-subsystems/test/unit/Wire/MockInterpreters/BlockListStore.hs
  libs/wire-subsystems/wire-subsystems.cabal
  services/brig/brig.cabal
  services/brig/src/Brig/API/Auth.hs
  services/brig/src/Brig/API/Internal.hs
  services/brig/src/Brig/API/Public.hs
  services/brig/src/Brig/API/User.hs
  services/brig/src/Brig/AWS/SesNotification.hs
  services/brig/src/Brig/CanonicalInterpreter.hs
  services/brig/src/Brig/Effects/BlacklistStore.hs
  services/brig/src/Brig/Team/API.hs
Labels: ok-to-test, echoes: throughput

#4171 Remove FUTUREWORK about openapi3/swagger.
  services/brig/src/Brig/API/Public/Swagger.hs
Labels: ok-to-test, echoes: bugs

#4177 [chore] Remove dead code, update weeder.toml to ignore more deps.
  libs/wire-api-federation/test/Test/Wire/API/Federation/Golden/Runner.hs
  libs/wire-api/src/Wire/API/Routes/Internal/LegalHold.hs
  libs/wire-api/src/Wire/API/UserEvent.hs
  libs/wire-api/test/golden/Test/Wire/API/Golden/Generated.hs
  libs/wire-api/test/golden/Test/Wire/API/Golden/Generated/FeatureStatus_team.hs
  libs/wire-api/test/golden/Test/Wire/API/Golden/Generated/NewConv_user.hs
  libs/wire-api/test/golden/Test/Wire/API/Golden/Manual.hs
  libs/wire-api/test/golden/Test/Wire/API/Golden/Protobuf.hs
  libs/wire-api/test/golden/testObject_FeatureStatus_team_1.json
  libs/wire-api/test/golden/testObject_FeatureStatus_team_10.json
  libs/wire-api/test/golden/testObject_FeatureStatus_team_11.json
  libs/wire-api/test/golden/testObject_FeatureStatus_team_12.json
  libs/wire-api/test/golden/testObject_FeatureStatus_team_13.json
  libs/wire-api/test/golden/testObject_FeatureStatus_team_14.json
  libs/wire-api/test/golden/testObject_FeatureStatus_team_15.json
  libs/wire-api/test/golden/testObject_FeatureStatus_team_16.json
  libs/wire-api/test/golden/testObject_FeatureStatus_team_17.json
  libs/wire-api/test/golden/testObject_FeatureStatus_team_18.json
  libs/wire-api/test/golden/testObject_FeatureStatus_team_19.json
  libs/wire-api/test/golden/testObject_FeatureStatus_team_2.json
  libs/wire-api/test/golden/testObject_FeatureStatus_team_20.json
  libs/wire-api/test/golden/testObject_FeatureStatus_team_3.json
  libs/wire-api/test/golden/testObject_FeatureStatus_team_4.json
  libs/wire-api/test/golden/testObject_FeatureStatus_team_5.json
  libs/wire-api/test/golden/testObject_FeatureStatus_team_6.json
  libs/wire-api/test/golden/testObject_FeatureStatus_team_7.json
  libs/wire-api/test/golden/testObject_FeatureStatus_team_8.json
  libs/wire-api/test/golden/testObject_FeatureStatus_team_9.json
  libs/wire-api/test/golden/testObject_QualifiedNewOtrMessage_user_10.protobuf
  libs/wire-api/test/golden/testObject_UserClientPrekeyMap_9.json
  libs/wire-api/wire-api.cabal
  services/brig/src/Brig/App.hs
  services/brig/src/Brig/Data/User.hs
  services/brig/src/Brig/Options.hs
  services/gundeck/src/Gundeck/Monad.hs
  services/spar/test-integration/Util/Types.hs
  tools/stern/src/Stern/API/Routes.hs
  tools/stern/src/Stern/Intra.hs
  weeder.toml
Labels: ok-to-test
