Repository wireapp/wire-server, pull requests merged in 2024-08, with the labels that each got.

#4180 Remove debug statement
  integration/test/Test/Property.hs
Labels: ok-to-test

#4164 One to one SFT feature flag config
  cassandra-schema.cql
  changelog.d/1-api-changes/ttl
  changelog.d/1-api-changes/wpb-10235
  charts/galley/values.yaml
  hack/helm_vars/wire-server/values.yaml.gotmpl
  integration/integration.cabal
  integration/test/API/Brig.hs
  integration/test/API/BrigInternal.hs
  integration/test/API/Galley.hs
  integration/test/API/GalleyInternal.hs
  integration/test/Test/FeatureFlags.hs
  integration/test/Test/FeatureFlags/User.hs
  integration/test/Test/FeatureFlags/Util.hs
  libs/galley-types/default.nix
  libs/galley-types/galley-types.cabal
  libs/galley-types/src/Galley/Types/Teams.hs
  libs/galley-types/test/unit/Main.hs
  libs/galley-types/test/unit/Test/Galley/Roundtrip.hs
  libs/galley-types/test/unit/Test/Galley/Types.hs
  libs/wire-api/src/Wire/API/Routes/Internal/Galley.hs
  libs/wire-api/src/Wire/API/Routes/Public/Galley/Feature.hs
  libs/wire-api/src/Wire/API/Team/Feature.hs
  libs/wire-api/test/golden/Test/Wire/API/Golden/FromJSON.hs
  libs/wire-api/test/golden/Test/Wire/API/Golden/Generated/WithStatusNoLock_team.hs
  libs/wire-api/test/golden/Test/Wire/API/Golden/Generated/WithStatusPatch_team.hs
  libs/wire-api/test/golden/Test/Wire/API/Golden/Generated/WithStatus_team.hs
  libs/wire-api/test/golden/fromJSON/testObject_WithStatus_team_14.json
  libs/wire-api/test/golden/testObject_WithStatusNoLock_team_14.json
  libs/wire-api/test/golden/testObject_WithStatusPatch_team_14.json
  libs/wire-api/test/golden/testObject_WithStatus_team_14.json
  services/brig/brig.integration.yaml
  services/brig/src/Brig/Calling/API.hs
  services/brig/src/Brig/Options.hs
  services/brig/test/integration/API/Internal.hs
  services/galley/galley.cabal
  services/galley/galley.integration.yaml
  services/galley/src/Galley/API/Internal.hs
  services/galley/src/Galley/API/LegalHold/Team.hs
  services/galley/src/Galley/API/Public/Feature.hs
  services/galley/src/Galley/API/Query.hs
  services/galley/src/Galley/API/Teams/Features.hs
  services/galley/src/Galley/API/Teams/Features/Get.hs
  services/galley/src/Galley/Cassandra/GetAllTeamFeatureConfigs.hs
  services/galley/src/Galley/Cassandra/TeamFeatures.hs
  services/galley/src/Galley/Effects/TeamFeatureStore.hs
  services/galley/src/Galley/Schema/Run.hs
  services/galley/src/Galley/Schema/V93_ConferenceCallingSftForOneToOne.hs
  services/spar/test-integration/Test/Spar/Scim/AuthSpec.hs
  services/spar/test-integration/Util/Core.hs
  services/spar/test-integration/Util/Email.hs
  tools/stern/src/Stern/API.hs
  tools/stern/src/Stern/API/Routes.hs
  tools/stern/src/Stern/Intra.hs
  tools/stern/test/integration/API.hs
Labels: ok-to-test, echoes: features

#4184 Backport #4002
  changelog.d/3-bug-fixes/wpb8713-get-feature-configs-end-point-performance
  libs/wire-api/test/unit/Test/Wire/API/Run.hs
  libs/wire-api/test/unit/Test/Wire/API/Team/Feature.hs
  libs/wire-api/wire-api.cabal
  services/galley/default.nix
  services/galley/galley.cabal
  services/galley/src/Galley/API/Internal.hs
  services/galley/src/Galley/API/Teams/Features.hs
  services/galley/src/Galley/API/Teams/Features/Get.hs
  services/galley/src/Galley/App.hs
  services/galley/src/Galley/Cassandra/GetAllTeamFeatureConfigs.hs
  services/galley/src/Galley/Cassandra/TeamFeatures.hs
  services/galley/src/Galley/Effects.hs
  services/galley/src/Galley/Effects/TeamFeatureStore.hs
  services/galley/test/integration/API.hs
  services/galley/test/integration/API/Teams.hs
  services/galley/test/integration/API/Teams/Feature.hs
  services/galley/test/integration/API/Util/TeamFeature.hs
Labels: ok-to-test, echoes: features

#4179 Finalise version 6
  changelog.d/1-api-changes/capabilities-v7
  changelog.d/1-api-changes/finalise-v6
  integration/test/Test/Notifications.hs
  integration/test/Test/Swagger.hs
  integration/test/Testlib/Env.hs
  libs/wire-api/src/Wire/API/Routes/Public/Brig.hs
  libs/wire-api/src/Wire/API/Routes/Public/Brig/Bot.hs
  libs/wire-api/src/Wire/API/Routes/Version.hs
  libs/wire-api/src/Wire/API/Routes/Versioned.hs
  libs/wire-api/src/Wire/API/User/Client.hs
  libs/wire-api/src/Wire/API/UserEvent.hs
  libs/wire-api/test/golden/Test/Wire/API/Golden/Generated.hs
  libs/wire-api/test/golden/testObject_ClientV6_user_1.json
  libs/wire-api/test/golden/testObject_ClientV6_user_10.json
  libs/wire-api/test/golden/testObject_ClientV6_user_11.json
  libs/wire-api/test/golden/testObject_ClientV6_user_12.json
  libs/wire-api/test/golden/testObject_ClientV6_user_13.json
  libs/wire-api/test/golden/testObject_ClientV6_user_14.json
  libs/wire-api/test/golden/testObject_ClientV6_user_15.json
  libs/wire-api/test/golden/testObject_ClientV6_user_16.json
  libs/wire-api/test/golden/testObject_ClientV6_user_17.json
  libs/wire-api/test/golden/testObject_ClientV6_user_18.json
  libs/wire-api/test/golden/testObject_ClientV6_user_19.json
  libs/wire-api/test/golden/testObject_ClientV6_user_2.json
  libs/wire-api/test/golden/testObject_ClientV6_user_20.json
  libs/wire-api/test/golden/testObject_ClientV6_user_3.json
  libs/wire-api/test/golden/testObject_ClientV6_user_4.json
  libs/wire-api/test/golden/testObject_ClientV6_user_5.json
  libs/wire-api/test/golden/testObject_ClientV6_user_6.json
  libs/wire-api/test/golden/testObject_ClientV6_user_7.json
  libs/wire-api/test/golden/testObject_ClientV6_user_8.json
  libs/wire-api/test/golden/testObject_ClientV6_user_9.json
  services/brig/docs/swagger-v6.json
  services/brig/src/Brig/API/Public.hs
  services/brig/src/Brig/Provider/API.hs
  services/brig/test/integration/API/User/Client.hs
  tools/stern/src/Stern/Intra.hs
Labels: ok-to-test

#4183 [feat] bump nixpkgs - allow cabal-install 3.12
  Makefile
  cabal.project
  integration/integration.cabal
  libs/types-common-journal/types-common-journal.cabal
  libs/wire-message-proto-lens/wire-message-proto-lens.cabal
  nix/default.nix
  nix/haskell-pins.nix
  nix/manual-overrides.nix
  nix/overlay-docs.nix
  nix/sources.json
  nix/wire-server.nix
  services/federator/default.nix
  services/federator/federator.cabal
  services/federator/test/integration/Main.hs
  services/federator/test/integration/Test/Federator/Util.hs
  services/spar/default.nix
  services/spar/spar.cabal
  services/spar/test-integration/Main.hs
Labels: ok-to-test

#4189 coturn: Allow setting of K8s annotations at the Service
  changelog.d/2-features/helm-coturn-service-annotations
  charts/coturn/templates/service.yaml
  charts/coturn/values.yaml
Labels: ok-to-test

#4178 Simplify user feature logic
  changelog.d/5-internal/user-features
  services/galley/src/Galley/API/Public/Bot.hs
  services/galley/src/Galley/API/Public/Feature.hs
  services/galley/src/Galley/API/Teams/Features.hs
  services/galley/src/Galley/API/Teams/Features/Get.hs
Labels: ok-to-test, echoes: features

#4190 backport to q1: Finalise API v6
  changelog.d/1-api-changes/finalise-v6
  integration/test/Test/Version.hs
  libs/wire-api/src/Wire/API/Routes/Version.hs
Labels: ok-to-test, echoes: bugs, echoes: features, echoes: throughput/ci-maintenance

#4191 [chore] Remove more dead code, restore LegalHold internal API swagger
  changelog.d/4-docs/WPB-9742
  integration/test/Test/FeatureFlags/Util.hs
  libs/wire-api/src/Wire/API/Routes/Internal/Brig.hs
  libs/wire-api/src/Wire/API/Routes/Internal/LegalHold.hs
  libs/wire-api/test/golden/Test/Wire/API/Golden/Manual.hs
  libs/wire-api/test/golden/Test/Wire/API/Golden/Manual/QualifiedUserClientPrekeyMap.hs
  libs/wire-api/test/golden/testObject_QualifiedUserClientPrekeyMap_2.json
  libs/wire-api/test/golden/testObject_UserClientPrekeyMap_9.json
  libs/wire-subsystems/src/Wire/Error.hs
  services/brig/brig.cabal
  services/brig/test/integration/API/Internal.hs
  services/brig/test/integration/API/Internal/Util.hs
  services/brig/test/integration/API/User/Util.hs
  services/brig/test/integration/Federation/Util.hs
  services/brig/test/integration/SMTP.hs
  services/federator/test/integration/Test/Federator/Util.hs
  services/galley/test/integration/API/Federation.hs
  services/galley/test/integration/API/MLS/Mocks.hs
  services/galley/test/integration/Federation.hs
  weeder.toml
Labels: ok-to-test

#4185 Backport #4063
  changelog.d/5-internal/WPB-6442
  integration/integration.cabal
  integration/test/API/Galley.hs
  integration/test/API/GalleyInternal.hs
  integration/test/Notifications.hs
  integration/test/Test/FeatureFlags.hs
  integration/test/Test/FeatureFlags/Util.hs
  integration/test/Testlib/Cannon.hs
  integration/test/Testlib/JSON.hs
  services/galley/default.nix
  services/galley/galley.cabal
  services/galley/test/integration/API.hs
  services/galley/test/integration/API/Teams/Feature.hs
Labels: ok-to-test, echoes: features

#4194 Small clarification in SAML/SCIM docs.
  docs/src/understand/single-sign-on/understand/main.md
Labels: ok-to-test

#4192 Re-introduce test case tags for BSI audit (revert #4041).
  changelog.d/4-docs/revert-wpb8628
  integration/test/Test/AccessUpdate.hs
  integration/test/Test/Login.hs
  libs/zauth/test/ZAuth.hs
  services/brig/test/integration/API/User/Account.hs
  services/brig/test/integration/API/User/Auth.hs
  services/brig/test/integration/API/User/Client.hs
  services/brig/test/integration/API/User/Handles.hs
  services/federator/test/integration/Test/Federator/IngressSpec.hs
  services/federator/test/integration/Test/Federator/InwardSpec.hs
  services/federator/test/unit/Test/Federator/ExternalServer.hs
  services/federator/test/unit/Test/Federator/InternalServer.hs
  services/federator/test/unit/Test/Federator/Options.hs
  services/federator/test/unit/Test/Federator/Remote.hs
  services/federator/test/unit/Test/Federator/Validation.hs
  services/galley/test/integration/API.hs
  services/galley/test/integration/API/Federation.hs
  services/galley/test/integration/API/Teams.hs
  services/spar/test-integration/Test/Spar/APISpec.hs
  services/spar/test-integration/Test/Spar/Scim/AuthSpec.hs
  services/spar/test-integration/Test/Spar/Scim/UserSpec.hs
Labels: ok-to-test

#4197 [chore] Deleted dangling phone references in Brig
  services/brig/src/Brig/API/Public.hs
  services/brig/src/Brig/API/User.hs
  services/brig/src/Brig/Data/User.hs
Labels: ok-to-test

#4187 tools/{hlint,ormolu}.sh: Allow having different base for PR than orig…
  tools/hlint.sh
  tools/ormolu.sh
Labels: ok-to-test

#4198 add the `todo` function and the `TODO` pattern
  changelog.d/5-internal/todo
  libs/imports/src/Imports.hs
Labels: ok-to-test

#4199 [fix] update treefmt s.t. it doesn't segfault anymore
  nix/sources.json
Labels: ok-to-test

#4202 Remove smallstep-accomp helm chart
  charts/k8ssandra-test-cluster/.helmignore
  charts/k8ssandra-test-cluster/Chart.yaml
  charts/k8ssandra-test-cluster/README.md
  charts/k8ssandra-test-cluster/templates/check-cluster-job.yaml
  charts/k8ssandra-test-cluster/templates/jks-store-pass.yaml
  charts/k8ssandra-test-cluster/templates/k8ssandra-cluster.yaml
  charts/k8ssandra-test-cluster/templates/tls-certificate-bundle.yaml
  charts/k8ssandra-test-cluster/templates/tls-certificate.yaml
  charts/k8ssandra-test-cluster/templates/tls-issuer.yaml
  charts/k8ssandra-test-cluster/values.yaml
  charts/smallstep-accomp/Chart.yaml
  charts/smallstep-accomp/README.md
  charts/smallstep-accomp/requirements.yaml
  charts/smallstep-accomp/templates/_helpers.tpl
  charts/smallstep-accomp/templates/ca-password.yaml
  charts/smallstep-accomp/templates/certs.yaml
  charts/smallstep-accomp/templates/secrets.yaml
  charts/smallstep-accomp/templates/server-block-configmap.yaml
  charts/smallstep-accomp/templates/step-config.yaml
  charts/smallstep-accomp/values.yaml
Labels: ok-to-test

#4205 Remove smallstep-accomp helm chart (#4204)
  Makefile
  changelog.d/5-internal/WPB-10424
  charts/smallstep-accomp/Chart.yaml
  charts/smallstep-accomp/README.md
  charts/smallstep-accomp/requirements.yaml
  charts/smallstep-accomp/templates/_helpers.tpl
  charts/smallstep-accomp/templates/ca-password.yaml
  charts/smallstep-accomp/templates/certs.yaml
  charts/smallstep-accomp/templates/secrets.yaml
  charts/smallstep-accomp/templates/server-block-configmap.yaml
  charts/smallstep-accomp/templates/step-config.yaml
  charts/smallstep-accomp/values.yaml
Labels: ok-to-test

#4193 Feature flag refactoring (part 2)
  changelog.d/5-internal/feature-flag-refactoring-2
  libs/galley-types/default.nix
  libs/galley-types/galley-types.cabal
  libs/galley-types/src/Galley/Types/Teams.hs
  libs/wire-api/src/Wire/API/Error.hs
  libs/wire-api/src/Wire/API/Event/FeatureConfig.hs
  libs/wire-api/src/Wire/API/Routes/Features.hs
  libs/wire-api/src/Wire/API/Routes/Internal/Galley.hs
  libs/wire-api/src/Wire/API/Routes/Named.hs
  libs/wire-api/src/Wire/API/Routes/Public/Galley/Feature.hs
  libs/wire-api/src/Wire/API/Team/Feature.hs
  libs/wire-api/wire-api.cabal
  services/brig/test/integration/API/User/Util.hs
  services/galley/default.nix
  services/galley/galley.cabal
  services/galley/src/Galley/API/Internal.hs
  services/galley/src/Galley/API/Public/Feature.hs
  services/galley/src/Galley/API/Teams/Features.hs
  services/galley/test/integration/API/Teams.hs
  services/galley/test/integration/API/Util/TeamFeature.hs
  tools/stern/src/Stern/API.hs
  tools/stern/src/Stern/Intra.hs
Labels: ok-to-test

#4200 charts/{brig,galley}: Allow setting a preStop hook for the deployments
  changelog.d/5-internal/pre-stop
  charts/brig/templates/deployment.yaml
  charts/brig/values.yaml
  charts/galley/templates/deployment.yaml
  charts/galley/values.yaml
Labels: ok-to-test, echoes: throughput

#4208 remove postgres wrapper chart from wire-server
  Makefile
  changelog.d/5-internal/migrate-postgres-chart
  charts/postgresql/Chart.yaml
  charts/postgresql/README.md
  charts/postgresql/requirements.yaml
  charts/postgresql/values.yaml
Labels: ok-to-test

#4209 WPB-10581: Remove coturn helm chat
  Makefile
  changelog.d/5-internal/WPB-10581-remove-coturn-helm-chart
  charts/coturn/Chart.yaml
  charts/coturn/README.md
  charts/coturn/templates/_helpers.tpl
  charts/coturn/templates/configmap-coturn-conf-template.yaml
  charts/coturn/templates/secret-or-certificate.yaml
  charts/coturn/templates/secret.yaml
  charts/coturn/templates/service-account.yaml
  charts/coturn/templates/service.yaml
  charts/coturn/templates/servicemonitor.yaml
  charts/coturn/templates/statefulset.yaml
  charts/coturn/values.yaml
Labels: ok-to-test, echoes: throughput

#4211 WPB-1334 extend list of OAuth apps with active refresh token ids
  changelog.d/2-features/WPB-1334
  integration/integration.cabal
  integration/test/API/Brig.hs
  integration/test/API/BrigInternal.hs
  integration/test/Test/OAuth.hs
  integration/test/Testlib/HTTP.hs
  libs/wire-api/src/Wire/API/OAuth.hs
  services/brig/src/Brig/API/OAuth.hs
  services/brig/test/integration/API/OAuth.hs
Labels: ok-to-test, echoes: features

#4215 correct swagger for APIv6
  services/brig/docs/swagger-v6.json
Labels: ok-to-test, echoes: features

#4196 Feature flag refactoring (part 3)
  changelog.d/5-internal/feature-flag-refactoring-3
  libs/galley-types/default.nix
  libs/galley-types/galley-types.cabal
  libs/galley-types/src/Galley/Types/Teams.hs
  libs/wire-api/src/Wire/API/Routes/Internal/Galley.hs
  libs/wire-api/src/Wire/API/Routes/Named.hs
  libs/wire-api/src/Wire/API/Routes/Public/Galley/Feature.hs
  libs/wire-api/src/Wire/API/Team/Feature.hs
  libs/wire-api/test/unit/Test/Wire/API/Roundtrip/Aeson.hs
  libs/wire-subsystems/src/Wire/GalleyAPIAccess.hs
  libs/wire-subsystems/src/Wire/GalleyAPIAccess/Rpc.hs
  libs/wire-subsystems/src/Wire/UserSubsystem/Interpreter.hs
  libs/wire-subsystems/test/unit/Wire/MiniBackend.hs
  libs/wire-subsystems/test/unit/Wire/MockInterpreters/GalleyAPIAccess.hs
  services/brig/brig.cabal
  services/brig/default.nix
  services/brig/src/Brig/API/Internal.hs
  services/brig/src/Brig/API/User.hs
  services/brig/src/Brig/Calling/API.hs
  services/brig/src/Brig/Data/User.hs
  services/brig/src/Brig/Options.hs
  services/brig/src/Brig/Provider/API.hs
  services/brig/test/integration/API/Team.hs
  services/brig/test/unit/Run.hs
  services/brig/test/unit/Test/Brig/Roundtrip.hs
  services/galley/galley.cabal
  services/galley/src/Galley/API/Action.hs
  services/galley/src/Galley/API/Internal.hs
  services/galley/src/Galley/API/LegalHold/Conflicts.hs
  services/galley/src/Galley/API/LegalHold/Team.hs
  services/galley/src/Galley/API/Public/Feature.hs
  services/galley/src/Galley/API/Query.hs
  services/galley/src/Galley/API/Teams.hs
  services/galley/src/Galley/API/Teams/Features.hs
  services/galley/src/Galley/API/Teams/Features/Get.hs
  services/galley/src/Galley/API/Update.hs
  services/galley/src/Galley/API/Util.hs
  services/galley/src/Galley/App.hs
  services/galley/src/Galley/Cassandra/GetAllTeamFeatures.hs
  services/galley/src/Galley/Cassandra/LegalHold.hs
  services/galley/src/Galley/Cassandra/Team.hs
  services/galley/src/Galley/Cassandra/TeamFeatures.hs
  services/galley/src/Galley/Effects.hs
  services/galley/src/Galley/Effects/TeamFeatureStore.hs
  services/galley/src/Galley/Effects/TeamStore.hs
  services/galley/test/integration/API/Teams.hs
  services/galley/test/integration/API/Teams/LegalHold/Util.hs
  services/galley/test/integration/API/Util/TeamFeature.hs
Labels: ok-to-test, echoes: technical-debt

#4216 Add format paramter to mls public key endpoint
  changelog.d/1-api-changes/jwk
  integration/test/API/Galley.hs
  integration/test/Test/MLS/Keys.hs
  libs/wire-api/src/Wire/API/MLS/Keys.hs
  libs/wire-api/src/Wire/API/Routes/Public/Galley/MLS.hs
  services/galley/src/Galley/API/MLS.hs
  services/galley/src/Galley/API/Public/MLS.hs
Labels: ok-to-test, echoes: features

#4212 add warning when team/user creation is enabled over internet
  changelog.d/5-internal/wpb-9844
  charts/wire-server/templates/NOTES.txt
Labels: ok-to-test, echoes: features

#4217 [fix] Export FEDERATION_DOMAIN_BASE vars for teardown.
  hack/bin/integration-teardown-federation.sh
Labels: ok-to-test

#4213 WPB-1333 OAuth endpoint to revoke single refresh tokens
  changelog.d/2-features/WPB-1333
  integration/test/API/Brig.hs
  integration/test/Test/OAuth.hs
  libs/wire-api/src/Wire/API/Password.hs
  libs/wire-api/src/Wire/API/Routes/Public/Brig/OAuth.hs
  services/brig/src/Brig/API/OAuth.hs
  services/brig/test/integration/API/OAuth.hs
Labels: ok-to-test, echoes: features

#4214 Read sftToken from secrets.yaml
  changelog.d/5-internal/WPB-10302
  charts/brig/templates/configmap.yaml
  charts/brig/templates/secret.yaml
  charts/brig/values.yaml
Labels: ok-to-test, echoes: features
