Repository wireapp/wire-server, pull requests merged in 2024-11, with the labels that each got.

#4220 WPB-2568 Fix shellcheck linting problems on all shell scripts
  Makefile
  changelog.d/5-internal/pr-4220-linting
  changelog.d/mk-changelog.sh
  deploy/dockerephemeral/init.sh
  hack/bin/cabal-run-tests.sh
  hack/bin/copy-charts.sh
  hack/bin/create_team_members.sh
  hack/bin/create_test_team_admins.sh
  hack/bin/create_test_team_members.sh
  hack/bin/create_test_team_scim.sh
  hack/bin/create_test_user.sh
  hack/bin/diff-failure.sh
  hack/bin/helm-template.sh
  hack/bin/integration-setup-federation.sh
  hack/bin/integration-spring-cleaning.sh
  hack/bin/integration-teardown-federation.sh
  hack/bin/integration-test-logs.sh
  hack/bin/register_idp_internal.sh
  hack/bin/serve-charts.sh
  hack/bin/set-chart-image-version.sh
  hack/bin/set-helm-chart-version.sh
  hack/bin/upload-helm-charts-s3.sh
  libs/wire-api/test/golden/gentests.sh
  services/brig/federation-tests.sh
  services/nginz/nginz_reload.sh
  services/spar/test-scim-suite/mk_collection.sh
  services/spar/test-scim-suite/run.sh
  services/spar/test-scim-suite/runsuite.sh
  tools/db/move-team/dump_merge_teams.sh
  tools/nginz_disco/nginz_disco.sh
  tools/ormolu.sh
  tools/rebase-onto-formatter.sh
  tools/sftd_disco/sftd_disco.sh
  treefmt.toml
Labels: ok-to-test, echoes: technical-debt

#4325 galley: Use bulk query when getting all feature configs for a team user
  changelog.d/3-bug-fixes/optimize-get-all-features
  services/galley/src/Galley/API/Teams/Features/Get.hs
Labels: ok-to-test

#4326 galley: Delete unused endpoint for getting feature status for multiple teams
  changelog.d/5-internal/delete-multi-get
  integration/test/Test/FeatureFlags/SearchVisibilityInbound.hs
  libs/wire-api/src/Wire/API/Routes/Internal/Galley.hs
  libs/wire-api/src/Wire/API/Routes/Internal/Galley/TeamFeatureNoConfigMulti.hs
  services/galley/src/Galley/API/Internal.hs
  services/galley/src/Galley/API/Teams/Features.hs
  services/galley/src/Galley/API/Teams/Features/Get.hs
  services/galley/src/Galley/Cassandra/TeamFeatures.hs
  services/galley/src/Galley/Effects/TeamFeatureStore.hs
Labels: ok-to-test

#4323 Add a few more swagger descriptions and examples.
  changelog.d/4-docs/fix-swagger-2024-10-31
  libs/schema-profunctor/src/Data/Schema.hs
  libs/wire-api/src/Wire/API/Asset.hs
  libs/wire-api/src/Wire/API/Routes/Internal/Galley/TeamsIntra.hs
  libs/wire-api/src/Wire/API/Team.hs
  libs/wire-api/src/Wire/API/User.hs
  libs/wire-api/src/Wire/API/User/Orphans.hs
  services/brig/src/Brig/API/User.hs
  services/brig/src/Brig/Version.hs
Labels: ok-to-test

#4316 [WPB-8881] Move email update and remove operations to effects
  changelog.d/5-internal/WPB-8881
  libs/wire-api/src/Wire/API/Error/Brig.hs
  libs/wire-api/src/Wire/API/Routes/Public/Brig.hs
  libs/wire-api/src/Wire/API/User.hs
  libs/wire-api/src/Wire/API/User/Activation.hs
  libs/wire-subsystems/src/Wire/ActivationCodeStore.hs
  libs/wire-subsystems/src/Wire/ActivationCodeStore/Cassandra.hs
  libs/wire-subsystems/src/Wire/UserStore.hs
  libs/wire-subsystems/src/Wire/UserStore/Cassandra.hs
  libs/wire-subsystems/src/Wire/UserSubsystem.hs
  libs/wire-subsystems/src/Wire/UserSubsystem/Error.hs
  libs/wire-subsystems/src/Wire/UserSubsystem/Interpreter.hs
  libs/wire-subsystems/src/Wire/UserSubsystem/UserSubsystemConfig.hs
  libs/wire-subsystems/test/unit/Wire/MockInterpreters/ActivationCodeStore.hs
  libs/wire-subsystems/test/unit/Wire/MockInterpreters/UserStore.hs
  libs/wire-subsystems/test/unit/Wire/UserSubsystem/InterpreterSpec.hs
  libs/wire-subsystems/wire-subsystems.cabal
  services/brig/src/Brig/API/Auth.hs
  services/brig/src/Brig/API/Error.hs
  services/brig/src/Brig/API/Internal.hs
  services/brig/src/Brig/API/Public.hs
  services/brig/src/Brig/API/Types.hs
  services/brig/src/Brig/API/User.hs
  services/brig/src/Brig/CanonicalInterpreter.hs
  services/brig/src/Brig/Data/Activation.hs
  services/brig/src/Brig/Data/User.hs
  services/galley/test/integration/API/Util.hs
Labels: ok-to-test, echoes: technical-debt, echoes: throughput

#4328 Update email templates to v1.0.124.
  changelog.d/5-internal/email-templates-v1.0.124
  services/brig/deb/opt/brig/template-version
  services/brig/deb/opt/brig/templates/de/team/email/new-team-owner-welcome-subject.txt
  services/brig/deb/opt/brig/templates/de/team/email/new-team-owner-welcome.html
  services/brig/deb/opt/brig/templates/de/team/email/new-team-owner-welcome.txt
  services/brig/deb/opt/brig/templates/en/team/email/new-team-owner-welcome-subject.txt
  services/brig/deb/opt/brig/templates/en/team/email/new-team-owner-welcome.html
  services/brig/deb/opt/brig/templates/en/team/email/new-team-owner-welcome.txt
  services/brig/deb/opt/brig/templates/index.html
  services/brig/deb/opt/brig/templates/version
Labels: ok-to-test, echoes/initiative: personal-users-to-team-users...

#4334 WPB-10658 invitation and acceptance of individual users to teams fix nginz
  changelog.d/3-bug-fixes/WBP-10658
  charts/nginz/values.yaml
  integration/test/API/Nginz.hs
  integration/test/Test/Teams.hs
  services/nginz/integration-test/conf/nginz/nginx.conf
Labels: ok-to-test, echoes/initiative: personal-users-to-team-users...

#4331 [WPB-8881] Add unit tests for new effect actions
  changelog.d/5-internal/WPB-8881
  libs/wire-api/src/Wire/API/User.hs
  libs/wire-api/src/Wire/API/User/Identity.hs
  libs/wire-subsystems/src/Wire/ActivationCodeStore.hs
  libs/wire-subsystems/test/unit/Wire/ActivationCodeStore/InterpreterSpec.hs
  libs/wire-subsystems/test/unit/Wire/MiniBackend.hs
  libs/wire-subsystems/test/unit/Wire/MockInterpreters/ActivationCodeStore.hs
  libs/wire-subsystems/test/unit/Wire/MockInterpreters/UserStore.hs
  libs/wire-subsystems/test/unit/Wire/UserStoreSpec.hs
  libs/wire-subsystems/test/unit/Wire/UserSubsystem/InterpreterSpec.hs
  libs/wire-subsystems/wire-subsystems.cabal
Labels: ok-to-test, echoes: technical-debt, echoes: throughput

#4333 WPB-11183 confirmation email after team creation and account migration of the team owner
  changelog.d/2-features/WPB-11183
  libs/wire-subsystems/src/Wire/EmailSubsystem/Template.hs
  services/brig/src/Brig/API/Public.hs
  services/brig/src/Brig/API/User.hs
  services/brig/src/Brig/Team/Email.hs
  services/brig/src/Brig/Team/Template.hs
Labels: ok-to-test, echoes/initiative: personal-users-to-team-users...

#4329 integration: Allow MLS State to track multiple conversations
  Makefile
  integration/default.nix
  integration/integration.cabal
  integration/test/API/Galley.hs
  integration/test/MLS/Util.hs
  integration/test/Notifications.hs
  integration/test/SetupHelpers.hs
  integration/test/Test/AccessUpdate.hs
  integration/test/Test/ExternalPartner.hs
  integration/test/Test/FeatureFlags/LegalHold.hs
  integration/test/Test/LegalHold.hs
  integration/test/Test/MLS.hs
  integration/test/Test/MLS/KeyPackage.hs
  integration/test/Test/MLS/Message.hs
  integration/test/Test/MLS/Notifications.hs
  integration/test/Test/MLS/One2One.hs
  integration/test/Test/MLS/SubConversation.hs
  integration/test/Test/MLS/Unreachable.hs
  integration/test/Testlib/App.hs
  integration/test/Testlib/Assertions.hs
  integration/test/Testlib/Env.hs
  integration/test/Testlib/JSON.hs
  integration/test/Testlib/ModService.hs
  integration/test/Testlib/Run.hs
  integration/test/Testlib/Types.hs
Labels: ok-to-test

#4332 [WPB-12098] add inviter email to personal user invitation
  changelog.d/2-features/WPB-12098
  integration/test/API/Brig.hs
  integration/test/Test/Teams.hs
  libs/wire-api/src/Wire/API/Routes/Public/Brig.hs
  libs/wire-api/src/Wire/API/Team/Invitation.hs
  libs/wire-api/test/golden/Test/Wire/API/Golden/Generated.hs
  libs/wire-api/test/golden/Test/Wire/API/Golden/Generated/Invitation_team.hs
  libs/wire-api/test/golden/Test/Wire/API/Golden/Manual.hs
  libs/wire-api/test/golden/Test/Wire/API/Golden/Manual/InvitationUserView.hs
  libs/wire-api/test/golden/testObject_InvitationUserView_team_1.json
  libs/wire-api/test/golden/testObject_InvitationUserView_team_2.json
  libs/wire-api/wire-api.cabal
  libs/wire-subsystems/src/Wire/EmailSubsystem/Interpreter.hs
  libs/wire-subsystems/src/Wire/InvitationStore.hs
  libs/wire-subsystems/src/Wire/TeamInvitationSubsystem/Interpreter.hs
  libs/wire-subsystems/src/Wire/UserSubsystem.hs
  services/brig/src/Brig/Team/API.hs
Labels: ok-to-test, echoes/initiative: personal-users-to-team-users...

#4336 Preserve old invitation behaviour in v6
  changelog.d/1-api-changes/invitation
  integration/test/Test/Teams.hs
  libs/wire-api/src/Wire/API/Routes/Public/Brig.hs
  libs/wire-api/src/Wire/API/Team/Invitation.hs
  libs/wire-api/test/golden/Test/Wire/API/Golden/Generated/InvitationRequest_team.hs
  libs/wire-api/test/golden/testObject_InvitationRequest_team_1.json
  libs/wire-api/test/golden/testObject_InvitationRequest_team_10.json
  libs/wire-api/test/golden/testObject_InvitationRequest_team_11.json
  libs/wire-api/test/golden/testObject_InvitationRequest_team_12.json
  libs/wire-api/test/golden/testObject_InvitationRequest_team_13.json
  libs/wire-api/test/golden/testObject_InvitationRequest_team_14.json
  libs/wire-api/test/golden/testObject_InvitationRequest_team_15.json
  libs/wire-api/test/golden/testObject_InvitationRequest_team_16.json
  libs/wire-api/test/golden/testObject_InvitationRequest_team_17.json
  libs/wire-api/test/golden/testObject_InvitationRequest_team_18.json
  libs/wire-api/test/golden/testObject_InvitationRequest_team_19.json
  libs/wire-api/test/golden/testObject_InvitationRequest_team_2.json
  libs/wire-api/test/golden/testObject_InvitationRequest_team_20.json
  libs/wire-api/test/golden/testObject_InvitationRequest_team_3.json
  libs/wire-api/test/golden/testObject_InvitationRequest_team_4.json
  libs/wire-api/test/golden/testObject_InvitationRequest_team_5.json
  libs/wire-api/test/golden/testObject_InvitationRequest_team_6.json
  libs/wire-api/test/golden/testObject_InvitationRequest_team_7.json
  libs/wire-api/test/golden/testObject_InvitationRequest_team_8.json
  libs/wire-api/test/golden/testObject_InvitationRequest_team_9.json
  libs/wire-subsystems/src/Wire/TeamInvitationSubsystem/Interpreter.hs
  services/brig/src/Brig/Team/API.hs
  services/brig/test/integration/API/Team/Util.hs
  services/galley/test/integration/API/Util.hs
  services/spar/test-integration/Util/Core.hs
  tools/stern/test/integration/Util.hs
Labels: ok-to-test, echoes: bugs

#4338 [charts] Fix staging configuration
  changelog.d/0-release-notes/WBP-10308
  charts/background-worker/templates/deployment.yaml
  charts/brig/templates/configmap.yaml
Labels: ok-to-test

#4340 brig: make rabbitmq field optional again
  changelog.d/3-bug-fixes/brig-rabbitmq
  charts/brig/templates/configmap.yaml
  services/brig/src/Brig/App.hs
  services/brig/src/Brig/CanonicalInterpreter.hs
  services/brig/src/Brig/Federation/Client.hs
  services/brig/src/Brig/Options.hs
  services/brig/test/integration/API/User/Handles.hs
Labels: ok-to-test

#4341 WPB-14284 personal user invitation URL configmap fixed
  changelog.d/0-release-notes/WPB-14284
  changelog.d/3-bug-fixes/WPB-14284
  charts/brig/templates/configmap.yaml
  docs/src/developer/reference/config-options.md
  hack/helm_vars/wire-server/values.yaml.gotmpl
Labels: ok-to-test, echoes/initiative: personal-users-to-team-users...

#4342 Drain rabbitmq consumers slowly from Cannon
  changelog.d/5-internal/drain-rabbit
  services/cannon/src/Cannon/Options.hs
  services/cannon/src/Cannon/RabbitMqConsumerApp.hs
  services/cannon/src/Cannon/Run.hs
  services/cannon/src/Cannon/Types.hs
  services/cannon/src/Cannon/WS.hs
Labels: ok-to-test, echoes/initiative: scale

#4345 Fix the description of `TeamStatus`
  libs/wire-api/src/Wire/API/Routes/Internal/Galley/TeamsIntra.hs
Labels: ok-to-test

#4346 Improve ES migration test coverage
  services/brig/src/Brig/Index/Options.hs
  services/brig/test/integration/API/Search.hs
Labels: ok-to-test, echoes: technical-roadmap/technical-debt

#4348 RabbitMq connection pool in cannon
  changelog.d/5-internal/cannon-rabbitmq-pool
  charts/cannon/templates/configmap.yaml
  charts/cannon/templates/secret.yaml
  charts/cannon/templates/statefulset.yaml
  charts/integration/templates/integration-integration.yaml
  integration/test/Test/Events.hs
  libs/extended/src/Network/AMQP/Extended.hs
  services/background-worker/src/Wire/BackendDeadUserNotificationWatcher.hs
  services/cannon/cannon.cabal
  services/cannon/default.nix
  services/cannon/src/Cannon/Options.hs
  services/cannon/src/Cannon/RabbitMq.hs
  services/cannon/src/Cannon/RabbitMqConsumerApp.hs
  services/cannon/src/Cannon/Run.hs
  services/cannon/src/Cannon/Types.hs
  services/cannon/src/Cannon/WS.hs
Labels: ok-to-test, echoes/initiative: scale

#4351 background-worker: Use regex to list queues for backend-notifications
  changelog.d/5-internal/efficient-queue-listing
  integration/test/Testlib/ResourcePool.hs
  libs/extended/src/Network/RabbitMqAdmin.hs
  services/background-worker/src/Wire/BackendNotificationPusher.hs
  services/background-worker/test/Test/Wire/BackendNotificationPusherSpec.hs
Labels: ok-to-test, echoes/initiative: scale

#4347 [WPB-14436] Bump deps, fix README.
  libs/hscim/CHANGELOG
  libs/hscim/README.md
  libs/hscim/default.nix
  libs/hscim/hscim.cabal
  libs/hscim/src/Web/Scim/Client.hs
  weeder.toml
Labels: ok-to-test, echoes: unplanned/support

#4352 Log uncaught IO exceptions in cargohold
  changelog.d/5-internal/cargohold-errors
  services/cargohold/src/CargoHold/App.hs
Labels: ok-to-test, echoes: unplanned/incident
