Repository wireapp/wire-server, pull requests merged in 2024-09, with the labels that each got.

#4222 Wpb 10335 | Ensure pods are distributed evenly on each k8s node
  changelog.d/5-internal/WPB-10335
  charts/brig/templates/deployment.yaml
  charts/cannon/templates/statefulset.yaml
  charts/cargohold/templates/deployment.yaml
  charts/demo-smtp/templates/deployment.yaml
  charts/fake-aws-s3/templates/reaper.yaml
  charts/fake-aws-ses/templates/deployment.yaml
  charts/fake-aws-sns/templates/deployment.yaml
  charts/fake-aws-sqs/templates/deployment.yaml
  charts/federator/templates/deployment.yaml
  charts/galley/templates/deployment.yaml
  charts/gundeck/templates/deployment.yaml
  charts/legalhold/templates/deployment.yaml
  charts/nginz/templates/deployment.yaml
  charts/openldap/templates/openldap.yaml
  charts/outlook-addin/templates/deployment.yaml
  charts/proxy/templates/deployment.yaml
  charts/reaper/templates/deployment.yaml
  charts/restund/templates/statefulset.yaml
  charts/spar/templates/deployment.yaml
Labels: ok-to-test

#4223 [weed] Added data-migration to weed route, removed more dead code.
  libs/wire-api/src/Wire/API/Team/Feature.hs
  services/cargohold/cargohold.cabal
  services/cargohold/default.nix
  services/cargohold/test/integration/API/Util.hs
  services/spar/test-integration/Util/Core.hs
  weeder.toml
Labels: ok-to-test

#4221 Handle `emails` field in scim user record
  changelog.d/0-release-notes/WPB-665
  changelog.d/2-features/WPB-665
  integration/default.nix
  integration/integration.cabal
  integration/test/API/Brig.hs
  integration/test/API/BrigInternal.hs
  integration/test/API/Common.hs
  integration/test/API/Spar.hs
  integration/test/SetupHelpers.hs
  integration/test/Test/Spar.hs
  integration/test/Test/User.hs
  integration/test/Testlib/HTTP.hs
  integration/test/Testlib/Types.hs
  libs/hscim/src/Web/Scim/Schema/Meta.hs
  libs/hscim/src/Web/Scim/Schema/User/Email.hs
  libs/hscim/test/Test/Schema/UserSpec.hs
  libs/wire-api/default.nix
  libs/wire-api/src/Wire/API/Routes/Internal/Brig.hs
  libs/wire-api/src/Wire/API/User.hs
  libs/wire-api/src/Wire/API/User/EmailAddress.hs
  libs/wire-api/src/Wire/API/User/Identity.hs
  libs/wire-api/src/Wire/API/User/Password.hs
  libs/wire-api/src/Wire/API/User/Phone.hs
  libs/wire-api/src/Wire/API/User/Scim.hs
  libs/wire-api/wire-api.cabal
  services/brig/src/Brig/API/Internal.hs
  services/brig/src/Brig/API/User.hs
  services/brig/src/Brig/Data/User.hs
  services/brig/src/Brig/Team/API.hs
  services/spar/default.nix
  services/spar/spar.cabal
  services/spar/src/Spar/API.hs
  services/spar/src/Spar/App.hs
  services/spar/src/Spar/Intra/Brig.hs
  services/spar/src/Spar/Intra/BrigApp.hs
  services/spar/src/Spar/Scim/User.hs
  services/spar/src/Spar/Sem/BrigAccess.hs
  services/spar/src/Spar/Sem/BrigAccess/Http.hs
  services/spar/src/Spar/Sem/ScimExternalIdStore.hs
  services/spar/src/Spar/Sem/ScimExternalIdStore/Cassandra.hs
  services/spar/src/Spar/Sem/ScimExternalIdStore/Mem.hs
  services/spar/test-integration/Test/Spar/APISpec.hs
  services/spar/test-integration/Test/Spar/DataSpec.hs
  services/spar/test-integration/Test/Spar/Scim/UserSpec.hs
  services/spar/test-integration/Util/Core.hs
  services/spar/test-integration/Util/Scim.hs
  services/spar/test/Test/Spar/Intra/BrigSpec.hs
  services/spar/test/Test/Spar/Scim/UserSpec.hs
Labels: ok-to-test, echoes: technical-debt

#4227 upgrade to latest stable rabbitmq
  changelog.d/2-features/upgrade-rabbitmq
  charts/rabbitmq/requirements.yaml
  deploy/dockerephemeral/docker-compose.yaml
Labels: ok-to-test

#4234 [docs] config for dpop access token signing key
  docs/src/developer/reference/config-options.md
Labels: ok-to-test

#4235 [fix docs] truncated key to prevent unintentional usage
  docs/src/developer/reference/config-options.md
Labels: ok-to-test

#4238 Add rabbitmq gc to `make full-clean`.
  Makefile
Labels: ok-to-test

#4232 Update generated swagger.json for client API v6
  changelog.d/1-api-changes/finalise-v6
  services/brig/docs/swagger-v6.json
Labels: ok-to-test, echoes: bugs

#4239 WPB-10985 `crlProxy` attribute missing from mls E2EID team config
  hack/helm_vars/wire-server/values.yaml.gotmpl
  integration/test/Test/FeatureFlags.hs
  services/galley/galley.integration.yaml
  services/galley/src/Galley/Cassandra/GetAllTeamFeatureConfigs.hs
Labels: ok-to-test, echoes: bugs, echoes: features, echoes: throughput, echoes: throughput/ci-maintenance

#4240 Move test documentation tags from proteus to MLS
  changelog.d/4-docs/mls-test-tags
  integration/test/Test/AccessUpdate.hs
  integration/test/Test/MLS.hs
  integration/test/Test/MLS/Message.hs
  services/galley/test/integration/API.hs
  services/galley/test/integration/API/MLS.hs
Labels: ok-to-test, echoes: features

#4233 Fix clrProxy field of MLSE2EId feature flag
  changelog.d/3-bug-fixes/WBP-8790
  hack/helm_vars/wire-server/values.yaml.gotmpl
  integration/test/Test/FeatureFlags.hs
  services/galley/galley.integration.yaml
  services/galley/src/Galley/Cassandra/MakeFeature.hs
Labels: ok-to-test, echoes: bugs

#3901 [WPB-10092] open telemetry instrumentation
  cabal.project
  changelog.d/2-features/open-telemetry-instrumentation-brig-galley-gundeck-cannon
  changelog.d/3-bug-fixes/remove-spam-from-nginx
  deploy/dockerephemeral/federation-v0/nginz/conf/integration.conf
  deploy/dockerephemeral/federation-v1/nginz/conf/integration.conf
  docs/src/developer/developer/open-telemetry.md
  integration/test/Testlib/ModService.hs
  libs/bilge/bilge.cabal
  libs/bilge/default.nix
  libs/bilge/src/Bilge/RPC.hs
  libs/wire-api-federation/src/Wire/API/Federation/Client.hs
  libs/wire-api-federation/wire-api-federation.cabal
  libs/wire-otel/CHANGELOG.md
  libs/wire-otel/LICENSE
  libs/wire-otel/default.nix
  libs/wire-otel/src/Wire/OpenTelemetry.hs
  libs/wire-otel/test/Main.hs
  libs/wire-otel/wire-otel.cabal
  libs/wire-subsystems/default.nix
  libs/wire-subsystems/src/Wire/Rpc.hs
  libs/wire-subsystems/wire-subsystems.cabal
  nix/haskell-pins.nix
  nix/local-haskell-packages.nix
  services/brig/brig.cabal
  services/brig/default.nix
  services/brig/src/Brig/IO/Intra.hs
  services/brig/src/Brig/Provider/API.hs
  services/brig/src/Brig/Provider/RPC.hs
  services/brig/src/Brig/RPC.hs
  services/brig/src/Brig/Run.hs
  services/cannon/cannon.cabal
  services/cannon/default.nix
  services/cannon/src/Cannon/Run.hs
  services/galley/default.nix
  services/galley/galley.cabal
  services/galley/src/Galley/Intra/Util.hs
  services/galley/src/Galley/Run.hs
  services/gundeck/default.nix
  services/gundeck/gundeck.cabal
  services/gundeck/src/Gundeck/Push/Websocket.hs
  services/gundeck/src/Gundeck/Run.hs
  services/nginz/integration-test/conf/nginz/integration.conf
  tools/stern/src/Stern/Intra.hs
Labels: ok-to-test

#4242 [WPB-10772] Make it impossible for a user under legalhold to join an MLS conversation
  changelog.d/2-features/WPB-10772
  integration/test/Test/LegalHold.hs
  libs/types-common/src/Data/Qualified.hs
  libs/wire-api-federation/src/Wire/API/Federation/API.hs
  libs/wire-api/src/Wire/API/Error.hs
  libs/wire-api/src/Wire/API/Error/Galley.hs
  libs/wire-api/src/Wire/API/Routes/Public/Galley/MLS.hs
  libs/wire-subsystems/src/Wire/GalleyAPIAccess.hs
  libs/wire-subsystems/src/Wire/GalleyAPIAccess/Rpc.hs
  services/brig/src/Brig/API/Error.hs
  services/brig/src/Brig/API/Federation.hs
  services/brig/src/Brig/API/MLS/KeyPackages.hs
  services/brig/src/Brig/API/Public.hs
  services/brig/src/Brig/API/Types.hs
  services/brig/src/Brig/App.hs
  services/brig/src/Brig/CanonicalInterpreter.hs
  services/galley/galley.cabal
  services/galley/src/Galley/API/Federation.hs
  services/galley/src/Galley/API/LegalHold.hs
  services/galley/src/Galley/API/LegalHold/Get.hs
  services/galley/src/Galley/API/MLS/Message.hs
  services/galley/src/Galley/App.hs
  services/galley/src/Galley/Effects/TeamStore.hs
Labels: ok-to-test, echoes/initiative: federation-wire-cloud

#4244 Work around legacy integration test resource leak.
  services/brig/test/integration/Run.hs
Labels: ok-to-test

#4248 Fix FromJSON AmqpEndpoint error message
  changelog.d/5-internal/background-worker
  libs/extended/src/Network/AMQP/Extended.hs
Labels: ok-to-test

#4246 [WPB-1228] Servantify gundeck internal api
  changelog.d/5-internal/WPB-1228-servantify-gundeck-internal-api
  libs/gundeck-types/default.nix
  libs/gundeck-types/gundeck-types.cabal
  libs/gundeck-types/src/Gundeck/Types/Common.hs
  services/brig/src/Brig/Run.hs
  services/cannon/src/Cannon/WS.hs
  services/gundeck/default.nix
  services/gundeck/gundeck.cabal
  services/gundeck/src/Gundeck/API.hs
  services/gundeck/src/Gundeck/API/Internal.hs
  services/gundeck/src/Gundeck/Presence.hs
  services/gundeck/src/Gundeck/Run.hs
  services/gundeck/src/Gundeck/Util.hs
  services/gundeck/test/unit/Main.hs
Labels: ok-to-test, echoes: technical-debt

#4245 [WPB-10783] Prevent MLS-Legalhold interactions
  changelog.d/2-features/block-lh-for-mls-users
  integration/test/Test/LegalHold.hs
  libs/wire-api/src/Wire/API/Routes/Public/Galley/LegalHold.hs
  services/galley/src/Galley/API/LegalHold.hs
Labels: ok-to-test, echoes/initiative: federation-wire-cloud

#4252 [chore] Replace pattern synomyn with ADT.
  libs/types-common/src/Data/Qualified.hs
  services/galley/src/Galley/API/MLS/Message.hs
Labels: ok-to-test

#4250 brig: Make `GET /services/tags` work again
  changelog.d/3-bug-fixes/services-tags
  libs/wire-api/src/Wire/API/Routes/Public/Brig/Services.hs
Labels: ok-to-test, echoes: bugs

#4255 WPB-11000 Test password reset with wrong key/code should fai
  integration/default.nix
  integration/integration.cabal
  integration/test/API/Brig.hs
  integration/test/API/BrigInternal.hs
  integration/test/Test/PasswordReset.hs
  integration/test/Testlib/HTTP.hs
  services/brig/brig.cabal
  services/brig/test/integration/API/User.hs
  services/brig/test/integration/API/User/PasswordReset.hs
Labels: ok-to-test, echoes: features

#4249 WPB-11000 Test password reset with wrong key/code should fail
  changelog.d/5-internal/WPB-11000
  integration/default.nix
  integration/integration.cabal
  integration/test/API/Brig.hs
  integration/test/API/BrigInternal.hs
  integration/test/Test/PasswordReset.hs
  integration/test/Testlib/HTTP.hs
  services/brig/brig.cabal
  services/brig/test/integration/API/User.hs
  services/brig/test/integration/API/User/PasswordReset.hs
Labels: ok-to-test, echoes: features

#4254 [chore] Removed implicit failures in favour of explicit error handling.
  services/brig/src/Brig/API/Federation.hs
  services/brig/src/Brig/API/MLS/KeyPackages.hs
  services/brig/src/Brig/API/Public.hs
  services/brig/src/Brig/CanonicalInterpreter.hs
  services/galley/src/Galley/API/Federation.hs
  services/galley/src/Galley/API/MLS/Message.hs
Labels: ok-to-test

#4251 [WPB-10708] personal account to own team
  changelog.d/1-api-changes/wpb-10708
  integration/test/API/Brig.hs
  integration/test/API/Galley.hs
  integration/test/Test/Teams.hs
  integration/test/Testlib/Assertions.hs
  libs/wire-api/src/Wire/API/Error/Brig.hs
  libs/wire-api/src/Wire/API/Routes/Public/Brig.hs
  libs/wire-api/src/Wire/API/User.hs
  services/brig/src/Brig/API/Public.hs
  services/brig/src/Brig/API/Types.hs
  services/brig/src/Brig/API/User.hs
Labels: ok-to-test, echoes: features

#4253 Send confirmation email after upgrade to team owner
  changelog.d/2-features/personal-account-to-team-email
  libs/wire-api/src/Wire/API/Team.hs
  libs/wire-api/src/Wire/API/User.hs
  libs/wire-subsystems/src/Wire/EmailSubsystem.hs
  libs/wire-subsystems/src/Wire/EmailSubsystem/Interpreter.hs
  libs/wire-subsystems/src/Wire/EmailSubsystem/Template.hs
  services/brig/deb/opt/brig/templates/en/user/email/upgrade-subject.txt
  services/brig/deb/opt/brig/templates/en/user/email/upgrade.html
  services/brig/deb/opt/brig/templates/en/user/email/upgrade.txt
  services/brig/src/Brig/API/Public.hs
  services/brig/src/Brig/API/User.hs
  services/brig/src/Brig/User/Template.hs
Labels: ok-to-test, echoes: features

#4258 [WPB-11186] Translate flaky integration test to /integration.
  integration/test/Test/Conversation.hs
  integration/test/Testlib/Assertions.hs
  services/galley/test/integration/API.hs
  services/galley/test/integration/API/Federation/Util.hs
  services/galley/test/integration/API/Util.hs
Labels: ok-to-test, echoes: bugs

#4257 NewTeam types refactoring
  changelog.d/5-internal/new-team-types-refactoring
  libs/wire-api/src/Wire/API/Routes/Internal/Galley.hs
  libs/wire-api/src/Wire/API/Routes/Public/Galley/Team.hs
  libs/wire-api/src/Wire/API/Team.hs
  libs/wire-api/src/Wire/API/User.hs
  libs/wire-api/test/golden/Test/Wire/API/Golden/Generated.hs
  libs/wire-api/test/golden/Test/Wire/API/Golden/Generated/BindingNewTeamUser_user.hs
  libs/wire-api/test/golden/Test/Wire/API/Golden/Generated/BindingNewTeam_team.hs
  libs/wire-api/test/golden/Test/Wire/API/Golden/Generated/NewTeam_team.hs
  libs/wire-api/test/golden/Test/Wire/API/Golden/Generated/NewUser_user.hs
  libs/wire-api/test/golden/testObject_NewTeam_team_1.json
  libs/wire-api/test/golden/testObject_NewTeam_team_10.json
  libs/wire-api/test/golden/testObject_NewTeam_team_11.json
  libs/wire-api/test/golden/testObject_NewTeam_team_12.json
  libs/wire-api/test/golden/testObject_NewTeam_team_13.json
  libs/wire-api/test/golden/testObject_NewTeam_team_14.json
  libs/wire-api/test/golden/testObject_NewTeam_team_15.json
  libs/wire-api/test/golden/testObject_NewTeam_team_16.json
  libs/wire-api/test/golden/testObject_NewTeam_team_17.json
  libs/wire-api/test/golden/testObject_NewTeam_team_18.json
  libs/wire-api/test/golden/testObject_NewTeam_team_19.json
  libs/wire-api/test/golden/testObject_NewTeam_team_2.json
  libs/wire-api/test/golden/testObject_NewTeam_team_20.json
  libs/wire-api/test/golden/testObject_NewTeam_team_3.json
  libs/wire-api/test/golden/testObject_NewTeam_team_4.json
  libs/wire-api/test/golden/testObject_NewTeam_team_5.json
  libs/wire-api/test/golden/testObject_NewTeam_team_6.json
  libs/wire-api/test/golden/testObject_NewTeam_team_7.json
  libs/wire-api/test/golden/testObject_NewTeam_team_8.json
  libs/wire-api/test/golden/testObject_NewTeam_team_9.json
  libs/wire-api/test/unit/Test/Wire/API/Roundtrip/Aeson.hs
  libs/wire-api/wire-api.cabal
  libs/wire-subsystems/src/Wire/GalleyAPIAccess.hs
  libs/wire-subsystems/src/Wire/GalleyAPIAccess/Rpc.hs
  services/brig/src/Brig/API/Public.hs
  services/brig/src/Brig/API/User.hs
  services/brig/test/integration/API/Team.hs
  services/brig/test/integration/API/Team/Util.hs
  services/brig/test/integration/API/UserPendingActivation.hs
  services/galley/src/Galley/API/Teams.hs
  services/galley/test/integration/API/Util.hs
  services/spar/test-integration/Util/Core.hs
  tools/stern/test/integration/Util.hs
Labels: ok-to-test, echoes: features, echoes: technical-debt

#4256 [chore] Expose record accessors for Brig.App.Env.
  libs/types-common/default.nix
  libs/types-common/src/Util/SuffixNamer.hs
  libs/types-common/types-common.cabal
  libs/wire-subsystems/src/Wire/VerificationCodeSubsystem/Interpreter.hs
  services/brig/brig.integration.yaml
  services/brig/src/Brig/API/Auth.hs
  services/brig/src/Brig/API/Client.hs
  services/brig/src/Brig/API/Connection.hs
  services/brig/src/Brig/API/Connection/Remote.hs
  services/brig/src/Brig/API/Connection/Util.hs
  services/brig/src/Brig/API/Federation.hs
  services/brig/src/Brig/API/Handler.hs
  services/brig/src/Brig/API/Internal.hs
  services/brig/src/Brig/API/MLS/KeyPackages/Validation.hs
  services/brig/src/Brig/API/MLS/Util.hs
  services/brig/src/Brig/API/OAuth.hs
  services/brig/src/Brig/API/Public.hs
  services/brig/src/Brig/API/User.hs
  services/brig/src/Brig/AWS.hs
  services/brig/src/Brig/App.hs
  services/brig/src/Brig/Calling/API.hs
  services/brig/src/Brig/CanonicalInterpreter.hs
  services/brig/src/Brig/Data/Client.hs
  services/brig/src/Brig/Data/MLS/KeyPackage.hs
  services/brig/src/Brig/Data/User.hs
  services/brig/src/Brig/Federation/Client.hs
  services/brig/src/Brig/IO/Journal.hs
  services/brig/src/Brig/InternalEvent/Process.hs
  services/brig/src/Brig/Options.hs
  services/brig/src/Brig/Provider/API.hs
  services/brig/src/Brig/Provider/Email.hs
  services/brig/src/Brig/Provider/RPC.hs
  services/brig/src/Brig/RPC.hs
  services/brig/src/Brig/Run.hs
  services/brig/src/Brig/Team/API.hs
  services/brig/src/Brig/Team/Email.hs
  services/brig/src/Brig/User/API/Handle.hs
  services/brig/src/Brig/User/Auth.hs
  services/brig/src/Brig/User/Auth/Cookie.hs
  services/brig/src/Brig/User/EJPD.hs
  services/brig/src/Brig/Version.hs
  services/brig/test/integration/API/Calling.hs
  services/brig/test/integration/API/Federation.hs
  services/brig/test/integration/API/OAuth.hs
  services/brig/test/integration/API/Search.hs
  services/brig/test/integration/API/Settings.hs
  services/brig/test/integration/API/SystemSettings.hs
  services/brig/test/integration/API/Team.hs
  services/brig/test/integration/API/User.hs
  services/brig/test/integration/API/User/Account.hs
  services/brig/test/integration/API/User/Auth.hs
  services/brig/test/integration/API/User/Client.hs
  services/brig/test/integration/API/User/Handles.hs
  services/brig/test/integration/API/User/RichInfo.hs
  services/brig/test/integration/API/UserPendingActivation.hs
  services/brig/test/integration/Index/Create.hs
  services/brig/test/integration/Run.hs
  services/brig/test/integration/Util.hs
Labels: ok-to-test, echoes: technical-debt

#4259 [WPB-11163] Support for a consumable notifications capability
  changelog.d/1-api-changes/WPB-11163
  changelog.d/2-features/WPB-11163-consume-notifications-capability
  integration/test/API/Brig.hs
  integration/test/Test/Client.hs
  libs/wire-api/src/Wire/API/User/Client.hs
  libs/wire-api/test/golden/Test/Wire/API/Golden/Generated/NewClient_user.hs
  libs/wire-api/test/golden/Test/Wire/API/Golden/Generated/UpdateClient_user.hs
  libs/wire-api/test/golden/Test/Wire/API/Golden/Manual.hs
  libs/wire-api/test/golden/Test/Wire/API/Golden/Manual/ClientCapability.hs
  libs/wire-api/test/golden/Test/Wire/API/Golden/Manual/ClientCapabilityList.hs
  libs/wire-api/test/golden/Test/Wire/API/Golden/Runner.hs
  libs/wire-api/test/golden/testObject_ClientCapabilityList_3.json
  libs/wire-api/test/golden/testObject_ClientCapabilityList_4.json
  libs/wire-api/test/golden/testObject_ClientCapabilityList_5.json
  libs/wire-api/test/golden/testObject_ClientCapability_2.json
  services/brig/src/Brig/API/Client.hs
  services/brig/src/Brig/Data/Client.hs
  services/brig/src/Brig/Provider/API.hs
  services/brig/test/integration/API/User/Client.hs
  services/galley/test/integration/API/Teams/LegalHold/DisabledByDefault.hs
  services/galley/test/integration/API/Util.hs
Labels: ok-to-test, echoes/initiative: scale

#4263 WPB-11101 remove invitation tables from brig
  cassandra-schema.cql
  changelog.d/5-internal/WPB-11101
  services/brig/brig.cabal
  services/brig/src/Brig/Schema/Run.hs
  services/brig/src/Brig/Schema/V87_DropInvitationTables.hs
Labels: ok-to-test, echoes: technical-debt, echoes/initiative: personal-users-to-team-users...

#4266 Block services whitelist for teams with default protocol MLS
  changelog.d/1-api-changes/WPB-10797
  integration/integration.cabal
  integration/test/API/Brig.hs
  integration/test/Test/MLS/Services.hs
  libs/wire-api/src/Wire/API/Error/Brig.hs
  libs/wire-subsystems/src/Wire/UserSubsystem/Error.hs
  services/brig/src/Brig/Provider/API.hs
  services/brig/test/integration/API/Provider.hs
Labels: ok-to-test, echoes/initiative: federation-wire-cloud

#4267 [chore] Continue to reduce lens usage and simplify Opt/Env code.
  libs/cassandra-util/src/Cassandra/Options.hs
  libs/cassandra-util/src/Cassandra/Util.hs
  libs/wire-subsystems/src/Wire/Rpc.hs
  services/background-worker/src/Wire/BackgroundWorker.hs
  services/brig/src/Brig/API/Client.hs
  services/brig/src/Brig/API/Internal.hs
  services/brig/src/Brig/API/OAuth.hs
  services/brig/src/Brig/API/Public.hs
  services/brig/src/Brig/API/User.hs
  services/brig/src/Brig/App.hs
  services/brig/src/Brig/CanonicalInterpreter.hs
  services/brig/src/Brig/Data/User.hs
  services/brig/src/Brig/Index/Options.hs
  services/brig/src/Brig/Options.hs
  services/brig/src/Brig/Provider/API.hs
  services/brig/src/Brig/Provider/Template.hs
  services/brig/src/Brig/Queue/Stomp.hs
  services/brig/src/Brig/Run.hs
  services/brig/src/Brig/Team/Template.hs
  services/brig/src/Brig/User/Template.hs
  services/brig/test/integration/API/Calling.hs
  services/brig/test/integration/API/Federation.hs
  services/brig/test/integration/API/OAuth.hs
  services/brig/test/integration/API/Search.hs
  services/brig/test/integration/API/Settings.hs
  services/brig/test/integration/API/SystemSettings.hs
  services/brig/test/integration/API/Team.hs
  services/brig/test/integration/API/User.hs
  services/brig/test/integration/API/User/Account.hs
  services/brig/test/integration/API/User/Auth.hs
  services/brig/test/integration/API/User/Client.hs
  services/brig/test/integration/API/User/Handles.hs
  services/brig/test/integration/API/User/RichInfo.hs
  services/brig/test/integration/API/UserPendingActivation.hs
  services/brig/test/integration/Run.hs
  services/brig/test/integration/Util.hs
  services/cargohold/src/CargoHold/Run.hs
  services/cargohold/test/integration/API/Util.hs
  services/cargohold/test/integration/TestSetup.hs
  services/federator/src/Federator/Run.hs
  services/federator/test/integration/Test/Federator/Util.hs
  services/galley/migrate-data/src/Galley/DataMigration.hs
  services/galley/src/Galley/Intra/User.hs
  services/galley/src/Galley/Intra/Util.hs
  services/galley/src/Galley/Options.hs
  services/galley/src/Galley/Run.hs
  services/galley/test/integration/Run.hs
  services/galley/test/integration/TestSetup.hs
  services/gundeck/migrate-data/src/Gundeck/DataMigration.hs
  services/gundeck/src/Gundeck/Run.hs
  services/spar/migrate-data/src/Spar/DataMigration/Types.hs
  services/spar/src/Spar/Run.hs
  services/spar/test-integration/Util/Core.hs
  tools/stern/src/Stern/API.hs
  tools/stern/src/Stern/App.hs
Labels: ok-to-test

#4264 WPB-11217 Move accept team invitation to user subsystem
  changelog.d/5-internal/WPB-11217-move-code-for-accepting-invitations-for-personal-users-into-teams-to-wire-subsystems
  libs/types-common/default.nix
  libs/types-common/src/Util/Logging.hs
  libs/types-common/src/Util/Timeout.hs
  libs/types-common/types-common.cabal
  libs/wire-api/src/Wire/API/Error/Brig.hs
  libs/wire-api/src/Wire/API/Routes/Public/Brig.hs
  libs/wire-subsystems/src/Wire/AuthenticationSubsystem.hs
  libs/wire-subsystems/src/Wire/AuthenticationSubsystem/Error.hs
  libs/wire-subsystems/src/Wire/AuthenticationSubsystem/Interpreter.hs
  libs/wire-subsystems/src/Wire/EmailSubsystem.hs
  libs/wire-subsystems/src/Wire/EmailSubsystem/Interpreter.hs
  libs/wire-subsystems/src/Wire/EmailSubsystem/Template.hs
  libs/wire-subsystems/src/Wire/IndexedUserStore.hs
  libs/wire-subsystems/src/Wire/IndexedUserStore/ElasticSearch.hs
  libs/wire-subsystems/src/Wire/TeamInvitationSubsystem.hs
  libs/wire-subsystems/src/Wire/TeamInvitationSubsystem/Error.hs
  libs/wire-subsystems/src/Wire/TeamInvitationSubsystem/Interpreter.hs
  libs/wire-subsystems/src/Wire/UserStore.hs
  libs/wire-subsystems/src/Wire/UserStore/Cassandra.hs
  libs/wire-subsystems/src/Wire/UserSubsystem.hs
  libs/wire-subsystems/src/Wire/UserSubsystem/Error.hs
  libs/wire-subsystems/src/Wire/UserSubsystem/Interpreter.hs
  libs/wire-subsystems/test/unit/Wire/AuthenticationSubsystem/InterpreterSpec.hs
  libs/wire-subsystems/test/unit/Wire/MiniBackend.hs
  libs/wire-subsystems/test/unit/Wire/MockInterpreters/EmailSubsystem.hs
  libs/wire-subsystems/test/unit/Wire/MockInterpreters/IndexedUserStore.hs
  libs/wire-subsystems/test/unit/Wire/MockInterpreters/PasswordResetCodeStore.hs
  libs/wire-subsystems/test/unit/Wire/MockInterpreters/PasswordStore.hs
  libs/wire-subsystems/test/unit/Wire/MockInterpreters/SessionStore.hs
  libs/wire-subsystems/test/unit/Wire/MockInterpreters/UserStore.hs
  libs/wire-subsystems/test/unit/Wire/UserSubsystem/InterpreterSpec.hs
  libs/wire-subsystems/wire-subsystems.cabal
  services/brig/brig.cabal
  services/brig/src/Brig/API/Internal.hs
  services/brig/src/Brig/API/Public.hs
  services/brig/src/Brig/API/User.hs
  services/brig/src/Brig/CanonicalInterpreter.hs
  services/brig/src/Brig/Data/User.hs
  services/brig/src/Brig/Team/API.hs
  services/brig/src/Brig/Team/Email.hs
  services/brig/src/Brig/Team/Template.hs
  services/brig/src/Brig/User/Search/TeamSize.hs
Labels: ok-to-test, echoes/initiative: personal-users-to-team-users...

#4268 [WPB-10659] Test notifications for personal user to team user migration
  changelog.d/2-features/WPB-10658
  integration/test/API/Galley.hs
  integration/test/Notifications.hs
  integration/test/Test/Teams.hs
  integration/test/Testlib/Assertions.hs
  integration/test/Testlib/Cannon.hs
  integration/test/Testlib/HTTP.hs
  integration/test/Testlib/JSON.hs
  integration/test/Testlib/Types.hs
Labels: ok-to-test, echoes/initiative: personal-users-to-team-users...

#4276 Document self and copy fields of the Permissions type
  libs/wire-api/src/Wire/API/Team/Permission.hs
Labels: ok-to-test

#4265 Fix feature flag defaults
  changelog.d/3-bug-fixes/flag-defaults
  charts/galley/templates/configmap.yaml
  charts/galley/values.yaml
  hack/helm_vars/wire-server/values.yaml.gotmpl
  integration/integration.cabal
  integration/test/Test/FeatureFlags.hs
  integration/test/Test/FeatureFlags/AppLock.hs
  integration/test/Test/FeatureFlags/ClassifiedDomains.hs
  integration/test/Test/FeatureFlags/ConferenceCalling.hs
  integration/test/Test/FeatureFlags/DigitalSignatures.hs
  integration/test/Test/FeatureFlags/EnforceFileDownloadLocation.hs
  integration/test/Test/FeatureFlags/FileSharing.hs
  integration/test/Test/FeatureFlags/GuestLinks.hs
  integration/test/Test/FeatureFlags/LegalHold.hs
  integration/test/Test/FeatureFlags/Mls.hs
  integration/test/Test/FeatureFlags/MlsE2EId.hs
  integration/test/Test/FeatureFlags/MlsMigration.hs
  integration/test/Test/FeatureFlags/OutlookCalIntegration.hs
  integration/test/Test/FeatureFlags/SSO.hs
  integration/test/Test/FeatureFlags/SearchVisibilityAvailable.hs
  integration/test/Test/FeatureFlags/SearchVisibilityInbound.hs
  integration/test/Test/FeatureFlags/SelfDeletingMessages.hs
  integration/test/Test/FeatureFlags/SndFactorPasswordChallenge.hs
  integration/test/Test/FeatureFlags/Util.hs
  integration/test/Test/FeatureFlags/ValidateSAMLEmails.hs
  integration/test/Testlib/Cannon.hs
  libs/wire-api/src/Wire/API/Error/Galley.hs
  services/galley/galley.integration.yaml
  services/galley/src/Galley/API/Teams/Features.hs
  services/galley/src/Galley/Cassandra/MakeFeature.hs
Labels: ok-to-test, echoes: bugs, echoes/initiative: federation-wire-cloud

#4275 Refactor user types
  changelog.d/5-internal/user-types-refactoring
  libs/brig-types/brig-types.cabal
  libs/brig-types/default.nix
  libs/brig-types/src/Brig/Types/Intra.hs
  libs/brig-types/test/unit/Test/Brig/Types/User.hs
  libs/wire-api/src/Wire/API/Routes/Internal/Brig.hs
  libs/wire-api/src/Wire/API/User.hs
  libs/wire-api/test/golden/Test/Wire/API/Golden/Generated/SelfProfile_user.hs
  libs/wire-api/test/golden/Test/Wire/API/Golden/Generated/User_user.hs
  libs/wire-api/test/golden/Test/Wire/API/Golden/Manual/UserEvent.hs
  libs/wire-api/test/golden/testObject_SelfProfile_user_1.json
  libs/wire-api/test/golden/testObject_UserEvent_1.json
  libs/wire-api/test/golden/testObject_UserEvent_2.json
  libs/wire-api/test/golden/testObject_User_user_1.json
  libs/wire-api/test/golden/testObject_User_user_2.json
  libs/wire-api/test/golden/testObject_User_user_3.json
  libs/wire-api/test/golden/testObject_User_user_4.json
  libs/wire-api/test/golden/testObject_User_user_5.json
  libs/wire-subsystems/src/Wire/AuthenticationSubsystem/Interpreter.hs
  libs/wire-subsystems/src/Wire/StoredUser.hs
  libs/wire-subsystems/src/Wire/TeamInvitationSubsystem/Interpreter.hs
  libs/wire-subsystems/src/Wire/UserSubsystem.hs
  libs/wire-subsystems/src/Wire/UserSubsystem/Interpreter.hs
  libs/wire-subsystems/test/unit/Wire/AuthenticationSubsystem/InterpreterSpec.hs
  libs/wire-subsystems/test/unit/Wire/MockInterpreters/UserSubsystem.hs
  libs/wire-subsystems/test/unit/Wire/UserStoreSpec.hs
  libs/wire-subsystems/test/unit/Wire/UserSubsystem/InterpreterSpec.hs
  services/brig/src/Brig/API/Client.hs
  services/brig/src/Brig/API/Internal.hs
  services/brig/src/Brig/API/Public.hs
  services/brig/src/Brig/API/Types.hs
  services/brig/src/Brig/API/User.hs
  services/brig/src/Brig/Data/Activation.hs
  services/brig/src/Brig/Data/User.hs
  services/brig/src/Brig/Provider/API.hs
  services/brig/src/Brig/Team/API.hs
  services/brig/src/Brig/User/Auth.hs
  services/brig/test/integration/API/User/Account.hs
  services/galley/src/Galley/API/LegalHold/Conflicts.hs
  services/galley/src/Galley/API/MLS/Migration.hs
  services/galley/src/Galley/API/Teams.hs
  services/galley/src/Galley/API/Teams/Notifications.hs
  services/galley/src/Galley/Effects/BrigAccess.hs
  services/galley/src/Galley/Intra/User.hs
  services/galley/test/integration/API/Util.hs
  services/spar/src/Spar/API.hs
  services/spar/src/Spar/App.hs
  services/spar/src/Spar/Intra/Brig.hs
  services/spar/src/Spar/Intra/BrigApp.hs
  services/spar/src/Spar/Scim/User.hs
  services/spar/src/Spar/Sem/BrigAccess.hs
  services/spar/test-integration/Test/Spar/Intra/BrigSpec.hs
  services/spar/test-integration/Test/Spar/Scim/UserSpec.hs
  services/spar/test-integration/Util/Core.hs
  services/spar/test/Test/Spar/Scim/UserSpec.hs
  tools/stern/src/Stern/API.hs
  tools/stern/src/Stern/API/Routes.hs
  tools/stern/src/Stern/Intra.hs
  tools/stern/test/integration/API.hs
Labels: ok-to-test, echoes: technical-debt, echoes: throughput
