Repository wireapp/wire-server, pull requests merged in 2024-10, with the labels that each got.

#4262 Initial MLS configuration for new teams
  changelog.d/2-features/new-teams-mls
  docs/src/developer/reference/config-options.md
  integration/integration.cabal
  integration/test/SetupHelpers.hs
  integration/test/Test/FeatureFlags/Initialisation.hs
  integration/test/Testlib/ModService.hs
  integration/test/Testlib/RunServices.hs
  libs/galley-types/default.nix
  libs/galley-types/galley-types.cabal
  libs/galley-types/src/Galley/Types/Teams.hs
  services/galley/src/Galley/API/Teams.hs
  services/galley/src/Galley/API/Teams/Features.hs
Labels: ok-to-test, echoes/initiative: federation-wire-cloud

#4274 [WPB-11301] db script for collecting last login times of all team members
  cabal.project
  changelog.d/5-internal/WPB-11301-db-tool-team-info
  nix/local-haskell-packages.nix
  nix/wire-server.nix
  tools/db/team-info/.ormolu
  tools/db/team-info/README.md
  tools/db/team-info/app/Main.hs
  tools/db/team-info/default.nix
  tools/db/team-info/src/TeamInfo/Lib.hs
  tools/db/team-info/src/TeamInfo/Types.hs
  tools/db/team-info/team-info.cabal
Labels: ok-to-test, echoes: maintenance/support

#4279 [WPB-11386] Introduce length-preserving function mapRange to replace fmap.
  changelog.d/5-internal/WPB-11386-map-range
  libs/types-common/src/Data/Range.hs
  services/brig/src/Brig/IO/Intra.hs
Labels: ok-to-test

#4280 [WPB-11101] Refactor invitation store
  changelog.d/5-internal/WPB-11101-internal-types
  libs/wire-subsystems/src/Wire/InvitationStore.hs
  libs/wire-subsystems/src/Wire/InvitationStore/Cassandra.hs
  libs/wire-subsystems/src/Wire/TeamInvitationSubsystem/Interpreter.hs
  libs/wire-subsystems/src/Wire/UserSubsystem.hs
  libs/wire-subsystems/src/Wire/UserSubsystem/Interpreter.hs
  libs/wire-subsystems/test/unit/Wire/MiniBackend.hs
  libs/wire-subsystems/test/unit/Wire/MockInterpreters/InvitationStore.hs
  libs/wire-subsystems/test/unit/Wire/UserSubsystem/InterpreterSpec.hs
  libs/wire-subsystems/wire-subsystems.cabal
  services/brig/src/Brig/API/Internal.hs
  services/brig/src/Brig/API/Public.hs
  services/brig/src/Brig/API/User.hs
  services/brig/src/Brig/CanonicalInterpreter.hs
  services/brig/src/Brig/Team/API.hs
Labels: ok-to-test, echoes: technical-debt, echoes/initiative: personal-users-to-team-users...

#4281 [chore] Extract RabbitMQ queue clean-up step in Makefile
  Makefile
Labels: ok-to-test

#4282 Misc(tm)
  Makefile
  libs/wire-api/src/Wire/API/Message/Proto.hs
  services/gundeck/test/unit/ThreadBudget.hs
  snapshots/README.md
  snapshots/wire-1.0.yaml
  snapshots/wire-1.1.yaml
  snapshots/wire-1.2.yaml
  snapshots/wire-1.3.yaml
  snapshots/wire-1.4.yaml
  snapshots/wire-2.0.yaml
  snapshots/wire-2.1.yaml
  snapshots/wire-2.2.yaml
  snapshots/wire-3.0.yaml
Labels: ok-to-test

#4271 [Brig] Move password verification to the AuthenticationSubsystem, move to Argon2id with new settings.
  changelog.d/5-internal/pwd
  libs/types-common/src/Data/Misc.hs
  libs/wire-api/src/Wire/API/Password.hs
  libs/wire-api/src/Wire/API/Provider.hs
  libs/wire-api/test/unit/Test/Wire/API/Password.hs
  libs/wire-subsystems/src/Wire/AuthenticationSubsystem.hs
  libs/wire-subsystems/src/Wire/AuthenticationSubsystem/Interpreter.hs
  libs/wire-subsystems/src/Wire/HashPassword.hs
  libs/wire-subsystems/src/Wire/PasswordStore.hs
  libs/wire-subsystems/src/Wire/PasswordStore/Cassandra.hs
  libs/wire-subsystems/src/Wire/UserSubsystem/Interpreter.hs
  libs/wire-subsystems/test/unit/Wire/MockInterpreters/HashPassword.hs
  libs/wire-subsystems/test/unit/Wire/MockInterpreters/PasswordStore.hs
  services/brig/brig.integration.yaml
  services/brig/src/Brig/API/Auth.hs
  services/brig/src/Brig/API/Client.hs
  services/brig/src/Brig/API/Internal.hs
  services/brig/src/Brig/API/OAuth.hs
  services/brig/src/Brig/API/Public.hs
  services/brig/src/Brig/API/User.hs
  services/brig/src/Brig/Data/Client.hs
  services/brig/src/Brig/Data/User.hs
  services/brig/src/Brig/Provider/API.hs
  services/brig/src/Brig/Provider/DB.hs
  services/brig/src/Brig/User/Auth.hs
  services/brig/test/integration/API/User/Auth.hs
  services/galley/src/Galley/API/Update.hs
Labels: ok-to-test, echoes: security

#4286 Removed redundant MonadReader constraint.
  services/brig/src/Brig/Data/Client.hs
Labels: ok-to-test

#4289 brig: Remove unnecessary List1 Event when pushing notifications
  libs/wire-subsystems/src/Wire/NotificationSubsystem.hs
  libs/wire-subsystems/src/Wire/NotificationSubsystem/Interpreter.hs
  libs/wire-subsystems/test/unit/Wire/NotificationSubsystem/InterpreterSpec.hs
  services/brig/src/Brig/API/Federation.hs
  services/brig/src/Brig/IO/Intra.hs
Labels: ok-to-test

#4290 gundeck: Remove bulkPush config option
  changelog.d/0-release-notes/gundeck-bulk-push
  charts/gundeck/templates/configmap.yaml
  charts/gundeck/values.yaml
  hack/helm_vars/wire-server/values.yaml.gotmpl
  services/gundeck/gundeck.integration.yaml
  services/gundeck/src/Gundeck/Options.hs
  services/gundeck/src/Gundeck/Push.hs
  services/gundeck/test/integration/API.hs
  services/gundeck/test/unit/MockGundeck.hs
  services/gundeck/test/unit/Push.hs
Labels: ok-to-test, echoes/initiative: scale

#4287 [WPB-11472] Revert "Work around legacy integration test resource leak. (#4244)"
  services/brig/test/integration/Run.hs
Labels: ok-to-test, echoes: security

#4201 Makefile: Add target to template helmfile
  Makefile
  hack/bin/helm-template.sh
  hack/bin/integration-setup-federation.sh
  hack/lib/dirs.sh
  hack/lib/helm-overrides.sh
  hack/lib/helmfile-env-vars.sh
  hack/lib/kube-metadata.sh
  nix/wire-server.nix
Labels: ok-to-test

#4294 Revert "Makefile: Add target to template helmfile (#4201)"
  Makefile
  hack/bin/helm-template.sh
  hack/bin/integration-setup-federation.sh
  hack/lib/dirs.sh
  hack/lib/helm-overrides.sh
  hack/lib/helmfile-env-vars.sh
  hack/lib/kube-metadata.sh
  nix/wire-server.nix
Labels: ok-to-test

#4292 [WPB-11368] Test for export team member CSV
  changelog.d/5-internal/test-csv-export
  integration/test/API/BrigInternal.hs
  integration/test/API/Galley.hs
  integration/test/SetupHelpers.hs
  integration/test/Test/Conversation.hs
  integration/test/Test/ExternalPartner.hs
  integration/test/Test/MLS/Services.hs
  integration/test/Test/Search.hs
  integration/test/Test/TeamSettings.hs
  integration/test/Test/Teams.hs
  services/galley/default.nix
  services/galley/galley.cabal
  services/galley/test/integration/API/Teams.hs
Labels: ok-to-test

#4176 Enable manual usage of locally running wire-server
  Makefile
  changelog.d/5-internal/fix-nginx-paths
  changelog.d/5-internal/inbucket
  changelog.d/5-internal/make-crm
  deploy/dockerephemeral/docker-compose.yaml
  docs/src/developer/developer/building.md
  hack/bin/cabal-run-integration.sh
  integration/test/Testlib/JSON.hs
  integration/test/Testlib/RunServices.hs
  services/nginz/integration-test/conf/nginz/nginx.conf
Labels: ok-to-test

#4296 [WPB-1220] servantify proxy internal
  changelog.d/5-internal/WPB-1220-servantify-proxy-internal
  libs/metrics-wai/default.nix
  libs/metrics-wai/metrics-wai.cabal
  libs/metrics-wai/src/Data/Metrics/Middleware/Prometheus.hs
  libs/metrics-wai/src/Data/Metrics/Servant.hs
  libs/metrics-wai/src/Data/Metrics/Types.hs
  libs/types-common/src/Data/Id.hs
  libs/wai-utilities/src/Network/Wai/Utilities/Request.hs
  libs/wai-utilities/src/Network/Wai/Utilities/Server.hs
  libs/wire-subsystems/src/Wire/EmailSubsystem/Interpreter.hs
  libs/wire-subsystems/test/unit/Wire/NotificationSubsystem/InterpreterSpec.hs
  services/background-worker/src/Wire/BackendNotificationPusher.hs
  services/background-worker/test/Test/Wire/BackendNotificationPusherSpec.hs
  services/brig/src/Brig/App.hs
  services/cannon/src/Cannon/App.hs
  services/cannon/src/Cannon/Types.hs
  services/cannon/src/Cannon/WS.hs
  services/cargohold/src/CargoHold/App.hs
  services/federator/src/Federator/Run.hs
  services/federator/test/integration/Test/Federator/IngressSpec.hs
  services/federator/test/unit/Test/Federator/Client.hs
  services/galley/src/Galley/App.hs
  services/gundeck/src/Gundeck/Env.hs
  services/proxy/default.nix
  services/proxy/proxy.cabal
  services/proxy/src/Proxy/API/Internal.hs
  services/proxy/src/Proxy/API/Public.hs
  services/proxy/src/Proxy/Env.hs
  services/proxy/src/Proxy/Proxy.hs
  services/proxy/src/Proxy/Run.hs
  services/proxy/test/scripts/proxy-test.sh
  services/spar/src/Spar/Run.hs
  tools/stern/src/Stern/App.hs
Labels: ok-to-test, echoes: technical-debt

#4293 Refactor CSV export
  changelog.d/1-api-changes/add-columns-to-export
  integration/integration.cabal
  integration/test/API/Stern.hs
  integration/test/Test/Teams.hs
  libs/wire-api/default.nix
  libs/wire-api/src/Wire/API/Routes/Internal/Brig.hs
  libs/wire-api/src/Wire/API/Routes/Internal/Spar.hs
  libs/wire-api/src/Wire/API/Routes/LowLevelStream.hs
  libs/wire-api/src/Wire/API/Routes/MultiVerb.hs
  libs/wire-api/src/Wire/API/Routes/Public/Cargohold.hs
  libs/wire-api/src/Wire/API/Team/Export.hs
  libs/wire-api/src/Wire/API/Team/Member.hs
  libs/wire-api/src/Wire/API/User.hs
  libs/wire-api/test/unit/Test/Wire/API/Roundtrip/CSV.hs
  libs/wire-api/wire-api.cabal
  libs/wire-subsystems/default.nix
  libs/wire-subsystems/src/Wire/UserStore.hs
  libs/wire-subsystems/src/Wire/UserStore/Cassandra.hs
  libs/wire-subsystems/src/Wire/UserSubsystem.hs
  libs/wire-subsystems/src/Wire/UserSubsystem/Interpreter.hs
  libs/wire-subsystems/test/unit/Wire/MiniBackend.hs
  libs/wire-subsystems/test/unit/Wire/MockInterpreters/UserStore.hs
  libs/wire-subsystems/wire-subsystems.cabal
  services/brig/src/Brig/API/Internal.hs
  services/brig/src/Brig/API/Public.hs
  services/brig/src/Brig/API/User.hs
  services/brig/src/Brig/CanonicalInterpreter.hs
  services/brig/src/Brig/Data/User.hs
  services/galley/default.nix
  services/galley/galley.cabal
  services/galley/src/Galley/API/Public/TeamMember.hs
  services/galley/src/Galley/API/Teams.hs
  services/galley/src/Galley/API/Teams/Export.hs
  services/galley/src/Galley/Effects/BrigAccess.hs
  services/galley/src/Galley/Effects/SparAccess.hs
  services/galley/src/Galley/Intra/Effects.hs
  services/galley/src/Galley/Intra/Spar.hs
  services/galley/src/Galley/Intra/User.hs
  services/spar/src/Spar/API.hs
  tools/stern/default.nix
  tools/stern/src/Stern/API.hs
  tools/stern/src/Stern/App.hs
  tools/stern/src/Stern/Intra.hs
  tools/stern/stern.cabal
Labels: ok-to-test

#4273 Bump nixpkgs
  nix/manual-overrides.nix
  nix/sources.json
  nix/wire-server.nix
  services/galley/test/resources/generate_keys.sh
Labels: ok-to-test

#4295 Validate swagger
  Makefile
  changelog.d/4-docs/openapi-validation
  libs/types-common/src/Data/Range.hs
  libs/wire-api-federation/src/Wire/API/Federation/Endpoint.hs
  libs/wire-api/src/Wire/API/Call/Config.hs
  libs/wire-api/src/Wire/API/Conversation/Protocol.hs
  libs/wire-api/src/Wire/API/Event/Conversation.hs
  libs/wire-api/src/Wire/API/Provider/Service.hs
  libs/wire-api/src/Wire/API/Provider/Service/Tag.hs
  libs/wire-api/src/Wire/API/Routes/Named.hs
  libs/wire-api/src/Wire/API/Routes/Public/Brig/Bot.hs
  libs/wire-api/src/Wire/API/Routes/Public/Cargohold.hs
  libs/wire-api/src/Wire/API/Routes/Public/Spar.hs
  libs/wire-api/src/Wire/API/Team/Invitation.hs
  libs/wire-api/src/Wire/API/User/Orphans.hs
  nix/wire-server.nix
  services/cargohold/src/CargoHold/API/Public.hs
  services/spar/src/Spar/API.hs
  services/spar/src/Spar/Scim/Auth.hs
Labels: ok-to-test, echoes: bugs

#4300 [chore] Weed out dead code buildup, add weeding step to sanitize-pr.
  Makefile
  hack/bin/check-weed.sh
  integration/integration.cabal
  integration/test/API/Stern.hs
  integration/test/Test/FeatureFlags/Mls.hs
  integration/test/Test/FeatureFlags/MlsMigration.hs
  integration/test/Testlib/Types.hs
  libs/metrics-wai/default.nix
  libs/metrics-wai/metrics-wai.cabal
  libs/metrics-wai/src/Data/Metrics/Middleware/Prometheus.hs
  libs/types-common/default.nix
  libs/types-common/src/Data/Credentials.hs
  libs/types-common/src/Data/Misc.hs
  libs/types-common/types-common.cabal
  libs/wire-api/src/Wire/API/User.hs
  libs/wire-api/test/unit/Test/Wire/API/Password.hs
  libs/wire-subsystems/src/Wire/AuthenticationSubsystem.hs
  libs/wire-subsystems/src/Wire/TeamInvitationSubsystem/Interpreter.hs
  services/brig/src/Brig/API/Auth.hs
  services/brig/src/Brig/API/Internal.hs
  services/brig/src/Brig/API/Public.hs
  services/brig/src/Brig/API/User.hs
  services/brig/src/Brig/Data/Activation.hs
  services/brig/src/Brig/Federation/Client.hs
  services/brig/src/Brig/User/Auth.hs
  services/brig/test/integration/API/User/Util.hs
  services/cargohold/src/CargoHold/AWS.hs
  services/cargohold/src/CargoHold/Options.hs
  services/galley/test/integration/API/Util.hs
  services/gundeck/src/Gundeck/Monad.hs
  tools/stern/default.nix
  tools/stern/src/Stern/Intra.hs
  tools/stern/stern.cabal
  weeder.toml
Labels: ok-to-test, echoes: technical-debt, echoes: throughput

#4310 WPB-11050 email templates for invitation of personal user to existing team
  changelog.d/2-features/WPB-11050
  services/brig/deb/opt/brig/templates/en/team/email/existing-invitation-subject.txt
  services/brig/deb/opt/brig/templates/en/team/email/existing-invitation.html
  services/brig/deb/opt/brig/templates/en/team/email/existing-invitation.txt
  services/brig/src/Brig/Team/Template.hs
Labels: ok-to-test, echoes/initiative: personal-users-to-team-users...

#4309 Fix swagger
  changelog.d/4-docs/fix-swagger
  libs/wire-api/default.nix
  libs/wire-api/src/Wire/API/Routes/SpecialiseToVersion.hs
  libs/wire-api/src/Wire/API/Routes/Version.hs
  libs/wire-api/src/Wire/API/Routes/Version/Wai.hs
  libs/wire-api/wire-api.cabal
  services/brig/src/Brig/API/Public.hs
  services/brig/src/Brig/API/Public/Swagger.hs
Labels: ok-to-test, echoes: bugs

#4302 [WPB-10314] validate swagger: add swagger linter to integration tests (so it'll run in CI).
  Makefile
  changelog.d/4-docs/openapi-validation
  changelog.d/5-internal/openapi-validation
  charts/nginz/values.yaml
  integration/test/API/Brig.hs
  integration/test/API/Galley.hs
  integration/test/Test/Bot.hs
  integration/test/Test/MLS/One2One.hs
  integration/test/Test/Swagger.hs
  libs/wire-api/src/Wire/API/Routes/Internal/Brig.hs
  libs/wire-api/src/Wire/API/Routes/Internal/Cargohold.hs
  libs/wire-api/src/Wire/API/Routes/Internal/Gundeck.hs
  libs/wire-api/src/Wire/API/Routes/Internal/LegalHold.hs
  libs/wire-api/src/Wire/API/Routes/Internal/Spar.hs
  libs/wire-api/src/Wire/API/Routes/Public/Brig.hs
  libs/wire-api/src/Wire/API/Routes/Public/Brig/Bot.hs
  libs/wire-api/src/Wire/API/Routes/Public/Galley/Conversation.hs
  libs/wire-api/wire-api.cabal
  nix/wire-server.nix
  services/brig/src/Brig/API/Internal.hs
  services/brig/src/Brig/API/Public.hs
  services/brig/src/Brig/Provider/API.hs
  services/brig/src/Brig/Run.hs
  services/brig/test/integration/API/Provider.hs
  services/brig/test/integration/API/User/Account.hs
  services/brig/test/integration/API/User/Handles.hs
  services/brig/test/integration/API/User/Util.hs
  services/cargohold/src/CargoHold/API/Public.hs
  services/galley/src/Galley/API/Public/Conversation.hs
  services/galley/test/integration/API.hs
  services/galley/test/integration/API/Util.hs
  services/gundeck/src/Gundeck/API/Internal.hs
  services/nginz/integration-test/conf/nginz/nginx.conf
  services/spar/src/Spar/API.hs
Labels: ok-to-test, echoes: bugs

#4278 Disable federation for specific protocols
  changelog.d/2-features/no-federated-proteus
  charts/galley/templates/configmap.yaml
  charts/galley/values.yaml
  docs/src/developer/reference/config-options.md
  integration/test/Test/Conversation.hs
  libs/wire-api-federation/src/Wire/API/Federation/Error.hs
  services/galley/galley.integration.yaml
  services/galley/src/Galley/API/Action.hs
  services/galley/src/Galley/API/Create.hs
  services/galley/src/Galley/Options.hs
  services/galley/src/Galley/Types/UserList.hs
Labels: ok-to-test, echoes/initiative: federation-wire-cloud

#4313 Fix overlapping paths errors in galley internal
  Makefile
  changelog.d/5-internal/fix-galley-overlaps
  integration/test/Test/Swagger.hs
  libs/wire-api/src/Wire/API/Routes/Internal/Galley.hs
  libs/wire-subsystems/src/Wire/GalleyAPIAccess/Rpc.hs
  services/brig/test/integration/Util.hs
  services/galley/src/Galley/API/Internal.hs
  services/galley/src/Galley/API/Query.hs
  services/galley/test/integration/API.hs
Labels: ok-to-test, echoes: bugs

#4318 [WPB-11925] fix add-bot
  changelog.d/3-bug-fixes/WPB-11925-fix-add-bot
  charts/nginz/values.yaml
  libs/wire-api/src/Wire/API/VersionInfo.hs
Labels: ok-to-test, echoes: bugs

#4315 WPB-11183 Remove wrong templates and make email sending no op
  changelog.d/2-features/WPB-10658
  libs/wire-subsystems/src/Wire/EmailSubsystem.hs
  libs/wire-subsystems/src/Wire/EmailSubsystem/Interpreter.hs
  libs/wire-subsystems/src/Wire/EmailSubsystem/Template.hs
  libs/wire-subsystems/test/unit/Wire/MockInterpreters/EmailSubsystem.hs
  services/brig/deb/opt/brig/templates/en/user/email/upgrade-subject.txt
  services/brig/deb/opt/brig/templates/en/user/email/upgrade.html
  services/brig/deb/opt/brig/templates/en/user/email/upgrade.txt
  services/brig/src/Brig/API/Public.hs
  services/brig/src/Brig/API/User.hs
  services/brig/src/Brig/Team/Email.hs
  services/brig/src/Brig/Team/Template.hs
  services/brig/src/Brig/User/Template.hs
Labels: ok-to-test, echoes/initiative: personal-users-to-team-users...

#4311 Move docs from docs.wire.com to generated helper page served by brig.
  changelog.d/4-docs/fix-swagger-2
  docs/src/understand/api-client-perspective/swagger.md
  integration/test/Test/Swagger.hs
  libs/wire-api-federation/src/Wire/API/Federation/Version.hs
  services/brig/src/Brig/API/Public.hs
Labels: ok-to-test, echoes: bugs

#4319 Allow choosing between argon2id and scrypt as hashing algorithm
  changelog.d/0-release-notes/configurable-argon
  changelog.d/2-features/add-config-for-pwd-hash
  changelog.d/5-internal/pwd
  charts/brig/values.yaml
  charts/galley/values.yaml
  docs/src/developer/reference/config-options.md
  hack/helm_vars/wire-server/values.yaml.gotmpl
  integration/test/Test/User.hs
  libs/types-common/src/Util/Options.hs
  libs/wire-api/src/Wire/API/Password.hs
  libs/wire-subsystems/src/Wire/HashPassword.hs
  services/brig/brig.integration.yaml
  services/brig/src/Brig/CanonicalInterpreter.hs
  services/brig/test/integration/API/User/Auth.hs
  services/galley/galley.integration.yaml
  services/galley/src/Galley/App.hs
Labels: ok-to-test, echoes: security

#4320 [fix] Local federation v1 tests fixed
  changelog.d/5-internal/fix-local-fed-v1
  deploy/dockerephemeral/federation-v0/nginz/conf/integration.conf
  deploy/dockerephemeral/federation-v1/nginz/conf/integration.conf
  deploy/dockerephemeral/run.sh
  integration/test/Test/MLS/One2One.hs
Labels: ok-to-test

#4297 block access to assets.*/minio/ path
  changelog.d/5-internal/WPB-11791
  charts/nginx-ingress-services/templates/ingress.yaml
  charts/nginx-ingress-services/templates/ingress_minio.yaml
Labels: ok-to-test
