Repository wireapp/wire-server, pull requests merged in 2025-01, with the labels that each got.

#4398 federator: Close sockets on SIGINT/SIGTERM
  changelog.d/5-internal/federator-signal-handling
  integration/test/Test/User.hs
  integration/test/Testlib/ModService.hs
  services/federator/src/Federator/ExternalServer.hs
  services/federator/src/Federator/InternalServer.hs
  services/federator/src/Federator/Interpreter.hs
  services/federator/src/Federator/Run.hs
Labels: ok-to-test

#4376 fix bug: consent request not correctly forwarded to galeb
  changelog.d/3-bug-fixes/WPB-14613
  charts/nginz/values.yaml
Labels: ok-to-test, echoes: technical-roadmap/throughput

#4402 integration: Print more information when a dynamic backend fails to start
  integration/test/Testlib/ModService.hs
Labels: ok-to-test

#4403 integration/testChannelKilled: Kill previous connections to RabbitMQ
  integration/test/Test/Events.hs
Labels: ok-to-test, echoes: technical-roadmap/throughput

#4405 charts: Use bitnami helm repo from github
  charts/rabbitmq/requirements.yaml
  charts/redis-cluster/requirements.yaml
  hack/helmfile.yaml
Labels: ok-to-test

#4407 WPB-15030 Delete deprecated and unqualified endpoints from V8
  changelog.d/1-api-changes/WPB-15030
  libs/wire-api/src/Wire/API/Routes/Public/Brig.hs
  libs/wire-api/src/Wire/API/Routes/Public/Galley/Conversation.hs
  libs/wire-api/src/Wire/API/Routes/Public/Spar.hs
  services/galley/test/integration/API.hs
  services/galley/test/integration/API/Util.hs
Labels: ok-to-test, echoes: technical-roadmap/throughput

#4406 integration: deflake testTransientEventsDoNotTriggerDeadLetters
  integration/test/Test/Events.hs
Labels: ok-to-test

#4404 cannon: Create queue before responding to the websocket
  integration/test/Test/Events.hs
  integration/test/Testlib/PTest.hs
  services/cannon/src/Cannon/RabbitMq.hs
  services/cannon/src/Cannon/RabbitMqConsumerApp.hs
Labels: ok-to-test

#4410 TLS support for cannon and background-worker
  charts/background-worker/templates/_helpers.tpl
  charts/background-worker/templates/cassandra-secret.yaml
  charts/background-worker/templates/configmap.yaml
  charts/background-worker/templates/deployment.yaml
  charts/background-worker/templates/serviceaccount.yaml
  charts/background-worker/values.yaml
  charts/cannon/templates/_helpers.tpl
  charts/cannon/templates/cassandra-secret.yaml
  charts/cannon/templates/configmap.yaml
  charts/cannon/templates/statefulset.yaml
Labels: ok-to-test, echoes: technical-roadmap/security

#4411 charts/background-worker: Explicitly remove serviceAccount
  charts/background-worker/templates/deployment.yaml
Labels: ok-to-test

#4413 Stabilize index migration tests
  changelog.d/5-internal/refreshIndex-correct-url
  services/brig/src/Brig/User/Search/Index.hs
  services/brig/test/integration/API/Search.hs
Labels: ok-to-test

#4414 /i/index/refresh : Refresh additional index on same ElasticSearch
  services/brig/src/Brig/User/Search/Index.hs
Labels: ok-to-test

#4417 WPB-14307 internal spar endpoint to get the team's identity providers
  changelog.d/5-internal/WPB-14307
  integration/integration.cabal
  integration/test/API/SparInternal.hs
  integration/test/Test/Spar.hs
  libs/wire-api/src/Wire/API/Routes/Internal/Spar.hs
  services/spar/src/Spar/API.hs
Labels: ok-to-test, echoes/initiative: scale

#4409 [WPB-14310] adjust existing onboarding flow to new domain registration constraints.
  changelog.d/5-internal/WPB-14310-adjust-existing-onboarding-flow-to-new-domain-registration-constraints
  libs/wire-api/src/Wire/API/EnterpriseLogin.hs
  libs/wire-api/src/Wire/API/User/EmailAddress.hs
  libs/wire-subsystems/default.nix
  libs/wire-subsystems/src/Wire/DomainRegistrationStore.hs
  libs/wire-subsystems/src/Wire/DomainRegistrationStore/Cassandra.hs
  libs/wire-subsystems/src/Wire/EnterpriseLoginSubsystem.hs
  libs/wire-subsystems/src/Wire/EnterpriseLoginSubsystem/Error.hs
  libs/wire-subsystems/src/Wire/EnterpriseLoginSubsystem/Interpreter.hs
  libs/wire-subsystems/src/Wire/TeamInvitationSubsystem/Error.hs
  libs/wire-subsystems/src/Wire/TeamInvitationSubsystem/Interpreter.hs
  libs/wire-subsystems/test/unit/Wire/AuthenticationSubsystem/InterpreterSpec.hs
  libs/wire-subsystems/test/unit/Wire/EnterpriseLoginSubsystem/InterpreterSpec.hs
  libs/wire-subsystems/test/unit/Wire/MiniBackend.hs
  libs/wire-subsystems/test/unit/Wire/MockInterpreters.hs
  libs/wire-subsystems/test/unit/Wire/MockInterpreters/DomainRegistrationStore.hs
  libs/wire-subsystems/test/unit/Wire/MockInterpreters/EmailSending.hs
  libs/wire-subsystems/test/unit/Wire/MockInterpreters/EmailSubsystem.hs
  libs/wire-subsystems/test/unit/Wire/MockInterpreters/EnterpriseLoginSubsystem.hs
  libs/wire-subsystems/test/unit/Wire/MockInterpreters/GalleyAPIAccess.hs
  libs/wire-subsystems/test/unit/Wire/MockInterpreters/UserSubsystem.hs
  libs/wire-subsystems/test/unit/Wire/TeamInvitationSubsystem/InterpreterSpec.hs
  libs/wire-subsystems/test/unit/Wire/VerificationCodeSubsystem/InterpreterSpec.hs
  libs/wire-subsystems/wire-subsystems.cabal
  services/brig/src/Brig/API/Public.hs
Labels: ok-to-test, echoes/initiative: scale

#4420 Fix nits of #4389
  libs/wire-api/src/Wire/API/EnterpriseLogin.hs
  libs/wire-subsystems/test/unit/Wire/MockInterpreters/SparAPIAccess.hs
Labels: ok-to-test, echoes/initiative: scale

#4421 Fix 503 on registration with disabled enterprise service
  changelog.d/3-bug-fixes/WPB-14307-quickfix-503
  integration/test/Test/Teams.hs
  libs/wire-subsystems/src/Wire/EnterpriseLoginSubsystem/Null.hs
Labels: ok-to-test, echoes/initiative: scale

#4424 fix add bots to conversations
  charts/nginz/static/conf/zauth.acl
  charts/nginz/values.yaml
Labels: ok-to-test, echoes: unplanned/incident

#4425 fix to use the correct path for bots to conversations
  charts/nginz/static/conf/zauth.acl
  charts/nginz/values.yaml
Labels: ok-to-test, echoes: unplanned/incident

#4426 WPB-15723 Fix Bot ACL config
  changelog.d/3-bug-fixes/WPB-15723
  charts/nginz/static/conf/zauth.acl
Labels: ok-to-test, echoes: unplanned/incident

#4429 WPB-15551 Domain Registration Team Feature
  cassandra-schema.cql
  changelog.d/2-features/WPB-15551
  charts/galley/templates/configmap.yaml
  charts/galley/values.yaml
  docs/src/developer/reference/config-options.md
  hack/helm_vars/wire-server/values.yaml.gotmpl
  integration/integration.cabal
  integration/test/Test/FeatureFlags/DomainRegistration.hs
  integration/test/Test/FeatureFlags/Util.hs
  libs/galley-types/src/Galley/Types/Teams.hs
  libs/wire-api/src/Wire/API/Routes/Internal/Galley.hs
  libs/wire-api/src/Wire/API/Routes/Public/Galley/Feature.hs
  libs/wire-api/src/Wire/API/Team/Feature.hs
  services/galley/galley.cabal
  services/galley/galley.integration.yaml
  services/galley/src/Galley/API/Internal.hs
  services/galley/src/Galley/API/Public/Feature.hs
  services/galley/src/Galley/API/Teams/Features.hs
  services/galley/src/Galley/API/Teams/Features/Get.hs
  services/galley/src/Galley/Cassandra/MakeFeature.hs
  services/galley/src/Galley/Schema/Run.hs
  services/galley/src/Galley/Schema/V94_DomainRegistrationConfig.hs
  tools/stern/src/Stern/API.hs
  tools/stern/src/Stern/API/Routes.hs
  tools/stern/test/integration/API.hs
Labels: ok-to-test, echoes/initiative: scale

#4412 MLS: send ext commit before sending ext proposals
  changelog.d/3-bug-fixes/WPB-15400
  integration/test/Test/MLS/SubConversation.hs
  services/galley/src/Galley/API/MLS/Commit/ExternalCommit.hs
  services/galley/src/Galley/API/MLS/Commit/InternalCommit.hs
  services/galley/src/Galley/API/MLS/Message.hs
  services/galley/src/Galley/API/MLS/Removal.hs
  services/galley/src/Galley/API/MLS/SubConversation.hs
  services/galley/src/Galley/API/MLS/Util.hs
Labels: ok-to-test, echoes: product-roadmap/bug

#4433 WPB-15551 Domain Registration Team Feature Integration
  changelog.d/1-api-changes/WPB-14307
  integration/test/Test/DomainVerification.hs
  libs/wire-subsystems/src/Wire/EnterpriseLoginSubsystem/Interpreter.hs
Labels: ok-to-test, echoes/initiative: scale
